[2020-10-16 09:41] 7h30n3 commented on #1048
Thank you for the clarification. I added this information in the issue I created in the Home Assistant repo: https://github.com/home-assistant/core/issues/41892
I also had no issues with the old hyperion integration.

[2020-10-16 18:10] jes1417 commented on #1048
@Joeboyc2 I had issues with the original component, controlling hyperion.ng did work through automation and scripts but the frontend was broken and the switch in HA would never turn on or off the light entity, it would just toggle back and forth making no changes so it definitely needed to be fixed...

[2020-10-16 19:09] Joeboyc2 commented on #1048
Oh, thats interesting, what version of ng where you running?
I know the first few alphas did not work, but I worked with one of the
developers to get it working with the Home Assistant component and it been
working ever since...

On Fri, 16 Oct 2020, 19:10 jes1417, <notifications@github.com> wrote:

[2020-10-17 03:49] jes1417 commented on #1048
I tried it with alpha 4, 5 and possibly 6 them someone made some changes on a fork of the HA component that I ran as a custom_component and it worked better until the contributor who made the change that made it into core came up with something that I also tested and it worked perfectly but I only use it with a capture card so that may be why it was different for you. I was the one who submitted t

[2020-10-17 10:18] jueank commented on #1013
i can report the same issue on a RPi3+ with Retropie 4.6 using Alpha 8. ~20% CPU load.

[2020-10-17 11:29] jaffacake commented on #930
I can see a PR mentioned this issue & has been merged? Does it fix this issue? I can help test if required. I've had my setup off as I'm waiting for this to be fixed.

[2020-10-17 11:54] gismo2004 commented on #771
Websokets will work and i made already something similar some time ago... https://github.com/gismo2004/hyperion.ng/commit/da2e0f387ac9c7e8c4e4a1bb65ad0ee4f393a76e

[2020-10-17 12:20] Lord-Grey commented on #771
@gismo2004 Maybe next time you share improvements via an PR that everybody could benefit. :)
Would have saved me some time, too....

[2020-10-17 12:56] Lord-Grey commented on #930
@jaffacake The current issue that the Hue-Device does not resume after itself detected a black light scenario has not been fixed.
This is currently due to the fact that a proper, generic design would be that the input device detects missing input and then signals that scenario and lights are turned of. Not that every individual device would do such a checks.

With #960 some groundwork was done tha

[2020-10-17 16:18] gismo2004 commented on #771
Well, I have done that already, but obviously the deal in following PR was not fulfilled 😉
https://github.com/hyperion-project/hyperion.ng/pull/492

[2020-10-17 18:11] Lord-Grey commented on #771
@gismo2004 😀

[2020-10-18 15:05] #964 closed

[2020-10-18 15:05] #969 closed

[2020-10-18 15:05] #976 closed

[2020-10-18 15:05] #980 closed

[2020-10-18 15:05] #992 closed

[2020-10-18 15:05] #1022 closed

[2020-10-18 15:05] #997 closed

[2020-10-18 15:05] #1019 closed

[2020-10-18 15:19] #933 closed

[2020-10-18 15:30] z3ky opened #1050 "USB Capture Color Threshold no Effectz"
I enabled the Signal Detection option in the USB Capture settings to set color thresholds. Red, green and blue thresholds seems to have no effects. The output to the LEDs doesn't change.
Even with 100% thresholds the grabber forwards the detected colors to hyperion. No matter if it gets a black or colored picture.

Same HW setup  (utv007 grabber chipset) worked with the old Hyperion.

[2020-10-18 15:37] #1050 closed

[2020-10-18 15:38] Paulchen-Panther commented on #1050
Closed due to ignoring issue template.
Please use our issue template.

[2020-10-18 17:08] #909 closed

[2020-10-18 17:08] #1015 closed

[2020-10-18 17:09] #771 closed

[2020-10-19 13:35] Lord-Grey commented on #1034
@bobslaede @awawa-dev With PR #1046 I did a start on hyperion.ng running with read-only configuration database.
It is currently a proof of concept, but may I ask you to have a test, if it covers the needs or which areas require additional focus?

Thank you!

[2020-10-19 16:33] Lord-Grey opened #1052 "UI Optimization - Creating new LED-Instances"
## Feature request

As a user, I would like to be guided through the set-up of a new LED-instance that way that I am presented valid configuration options rather that I define them myself.

#### What problem does this feature solve?

Presenting valid configuration elements to a user will mitigate the risk of misconfiguration and not working setups.
In addition, the user is presented with platform

[2020-10-19 17:02] Lord-Grey opened #1053 "UI Optimization - Select device from list of available devices"
## Feature request

As a user, I would like to select a device from list of available devices identified by hyperion to avoid any misconfiguration.
Besides being able to select an device, I as a user have the ability to overwrite details, e.g hostnames or IP-addresses.

This is a sub-scenario of #1052.

#### What problem does this feature solve?

Presenting valid configuration elements to a user w

[2020-10-19 18:55] bobslaede commented on #1034
I will absolutely give this a go. Hopefully this weekend 👍
I never did get around to write a feature request as I had to go on vacation.

Good job

[2020-10-19 20:30] Lord-Grey opened #1055 "UI - Upgrade to Bootstrap 4"
## Feature request

Upgrade from Bootstrap 3.3 to latest Bootstrap 4.x

#### What problem does this feature solve?

Make new capabilities out of standard bootstrap library available.
Retire Bootstrap 3 additional libraries and workarounds.

#### What does the proposed API look like?

N/A

#### How should this be implemented in your opinion?

N/A

#### Are you willing to work on this yourself?

[2020-10-19 20:42] Lord-Grey opened #1056 "UI - Clean-up"
## Feature request

Clean up UI code and related files

- Global Variables (remove not required ones, assign speaking names, add documentation)
- Javascript code in general (might need to be aligned with #1055 - Bootstrap upgrade)
- Clean-up dead html and JS code, e.g. donations, log upload

#### What problem does this feature solve?

General code clean-up to ease maintainability.

#### What does

[2020-10-19 21:31] Hukuma1 commented on #727
@Lord-Grey Just circled back because doing more testing of Yeelights. My older firmware which did not work with the code `{"id":1,"method":"set_scene","params":["color",15597584,93,"smooth",40]}`. But using this code it does work, and has the same smooth transition as newer firmware: `{"id":1,"method":"set_rgb","params":[16743680, "smooth", 500]}`

Not sure if you needed set_scene specifically vs

[2020-10-20 07:04] Lord-Grey opened #1057 "UI - Enhance log details"
## Feature request

I as a user / developer would like to be in the position seeing in the Web-UI log
- which logline belogs to which instance
- the timestamp in my local time
plus I would like to be able to filter loglines for
- instance, e.g. "My Hue Instance"
- component, e.g. LEDDEVICE
- log-level

which will help me in understanding what happens in hyperion, as well we track down error situat

[2020-10-20 15:41] #925 closed

[2020-10-21 16:50] AnthraxLeprosyPi opened #1059 "Hue Entertainment won't resume after Kodi paused/resumed"
Hi everybody,

it's been a while...

I had my first days off in ages and figured I should update my hyperion setup to the latest and greatest ;-)

All seemed to work well until I paused a video in Kodi and resumed shortly afterwards.

I have three instances running (1. LED-Ambilight, 2. Hue Entertainment and 3. Nanoleaf) and they all behave differently:

1. LED-Ambilight:
- while the video is paus

[2020-10-21 19:08] #1059 closed

[2020-10-21 19:11] Lord-Grey commented on #1059
Closed as duplicate to #930.

@AnthraxLeprosyPi Suggest you disable „switchoff on black“ at the Hue Device.
Then the device should behave as the other two.

[2020-10-22 00:12] Anubis062 opened #1060 "Can't connect to Hyperion Web server"
So, I am very new to Hyperion. This is my first set up. I am using an Raspberry pi zero w with a lite version of Raspberry OS. Any ideas why I can't connect to the Web Server?

[2020-10-22 00:32] Anubis062 commented on #1060
Update: Just did a fresh install on raspberry pi 4 with no luck....really need help

[2020-10-22 04:22] #1060 closed

[2020-10-22 04:57] dermotduffy commented on #1048
Hello all! I am the author of the updated Home Assistant Hyperion component (and the new underlying [Python library](https://github.com/dermotduffy/hyperion-py)) -- my changes were inspired by the Hyperion component not working at all for me with Hyperion-ng. I tried to fix it in place, but it was clearly not aimed at the new API (it also had no tests, couldn't use any of the new features such as

[2020-10-22 05:44] dermotduffy commented on #993
@Paulchen-Panther This still appears to be a problem.

Subscribe (in 1 terminal):
[code]

Send a color command (in another terminal):

[code]

Output I get (in the first terminal), two identical calls back:

[code]

[2020-10-22 06:20] dermotduffy opened #1061 "On boot: "USB Capture" is on, but no priority"
- [x] I confirm that this is an issue rather than a question.

## Bug report

On start-up, with "USB Capture" enabled, no matching priority is present.

I believe this combination should **not** be possible:

<img width="1165" alt="Screen Shot 2020-10-21 at 11 10 52 PM" src="https://user-images.githubusercontent.com/1136829/96832070-fe09ca80-13f2-11eb-996d-aa258c27f295.png">

In the UI, turning "U

[2020-10-22 07:09] AnthraxLeprosyPi commented on #1059
Hi @Lord-Grey,

thanx for the info - I'll as soon as I'm home.

But shouldn't it be able resume anyway though?

Anyways. Cheers,
Anthrax

[2020-10-22 07:18] 7h30n3 commented on #1048
As @dermotduffy pointed out the issue is that Home Assistant turns off the LEDDEVICE  and not just turning black. That's why I'm gonna close this issue.

[2020-10-22 07:18] #1048 closed

[2020-10-22 10:56] Lord-Grey commented on #1059
Yes,if the device switches off itself, then it should be able switching it on itself too.
As this is not working currently, issue 930 is in place...

This was working before, but I did updates to the general flow for the LED-Devices, why this functionality requires fixing (or better removed from the device).

[2020-10-22 15:18] Paulchen-Panther commented on #993
No problem. I'll look again.

[2020-10-22 15:57] AnthraxLeprosyPi commented on #1059
Thanx for the insight @Lord-Grey.

Unfortunately your suggested workaround didn't work 😕.

These are my settings (which I have never touched or at least not in a very long time as far as I know of) - are these allright?

Keep it up!
Anthrax

[2020-10-22 17:58] Paulchen-Panther commented on #993
Could you please test PR #1062 ? Many Thanks.

[2020-10-23 01:59] 0rsa opened #1064 "Idea: dynamic backlight with image main color"
Hello,
I currently use a fixed white backlight at 10%.
Can we imagine a dynamic backlight which is colored with the single dominant color of the current image ?
See example:
![hyperion](https://user-images.githubusercontent.com/769750/96947723-3210e880-14e4-11eb-9d1d-a514aef25595.png)

Thank you.

[2020-10-23 10:20] #1064 closed

[2020-10-23 10:21] Paulchen-Panther commented on #1064
Closed due to ignoring feature request template.
Please use our feature request template.

[2020-10-23 11:32] Lord-Grey commented on #1059
@AnthraxLeprosyPi Sorry, I re-checked to code and you are right, switchOffonBlack is not considered when Entertainment API is on.

If you compile yourself, you might have it configurable by adding the _switchOffOnBlack condition.

[code]

To deactivate the "Switch off on black" you need temporarily disable Entertainment API
Then disable ""Switch off on black"
![image](https://user-images.githubuse

[2020-10-24 20:26] gamer06 opened #1065 "Lightpack usb on Raspberry Pi"
Hi all,

I am trying to install the lightpack on the new hyperion to be controlled by the Home Assistant.
I used to work with the old hyperion before and it worked beautifully.

Now I can't turn on the LED's. Someone can help me?
I turn on the light in the Home Assistante and see it on the hyperon dashboard calling. But in reality it doesn't light up ....

https://gyazo.com/684a5ef859529263cd14bb8

[2020-10-24 20:33] #1065 closed

[2020-10-24 20:37] Lord-Grey commented on #1065
Next time fill the template correctly and check the other issues before opening an new one.
See #1015

[2020-10-24 21:06] gamer06 commented on #1015
Hello. I had not seen this post, my mistake ...
My lightpack doesn't work. To start I leave here a log:

`
pi@HyperBian:~ $ lsusb -v -d 1d50:6022

Bus 001 Device 004: ID 1d50:6022 OpenMoko, Inc. LightPack
Couldn't open device, some information will be missing
Device Descriptor:
  bLength                18
  bDescriptorType         1
  bcdUSB               1.10
  bDeviceClass            0
  bDevice

[2020-10-24 21:17] Lord-Grey commented on #1015
@gamer06  Not sure what you are looking for... Read the full issue and you will find that the issue was fixed by #1049 .
Either you install the latest master build yourself for wait for the next release.

[2020-10-25 07:34] dermotduffy commented on #993
Thanks @Paulchen-Panther . That works in that only a single color priority is produced (hurray!), however I notice that the problem of no priority update on effect is back again:

Subscribe (in 1 terminal):
[code]

Send an effect update (in another terminal):

[code]

I'd expect a priority update, yet I receive none.

[2020-10-25 08:01] Paulchen-Panther commented on #993
thanks for the feedback. I hadn't tested the effect. take care of that.

[2020-10-25 09:04] Lord-Grey commented on #727
@Hukuma1 I am making use of the "set-scene" function, as it is the most powerful function allowing to manipulate different aspects at one go.
e.g. it automatically turns on the device, if it is not on yet.
Those capabilities you do not have with set_rgb. set-rgb required certain preconditions fulfilled before making use of the function. In addition, smoothing is anyway done by the yeelight device

[2020-10-25 13:43] Paulchen-Panther commented on #993
@dermotduffy
Another test? PR #1062

[2020-10-25 15:37] dermotduffy commented on #993
Sorry to be the bearer of bad news -- now it works for effect, but is back to broken for color. The below is output from a single color set command:

[code]

[2020-10-25 16:08] Paulchen-Panther commented on #993
I cannot reproduce the duplicate issues.
Here I am using the generated artifacts from PR:
![993](https://user-images.githubusercontent.com/16664240/97112460-add98380-16e4-11eb-8984-97b5bb9bc177.gif)

[2020-10-25 16:11] dermotduffy commented on #993
Hmm. Thanks @Paulchen-Panther . That gif shows what I would have expected. Let me play around and make sure I'm not making some user error on my side. Report back shortly.

[2020-10-25 16:41] dermotduffy opened #1066 "componentstate update missing for LEDDEVICE"
- [x] I confirm that this is an issue rather than a question.

## Bug report

A componentstate update should be generated when LEDDEVICE changes state.

#### Steps to reproduce

In one terminal:

[code]

In another terminal:

[code]

This appears to work fine when turning SMOOTHING,  BLACKBORDER. But not for LEDDEVICE at least.

#### What is expected?

A `components-update` should be generated.

#

[2020-10-25 16:54] dermotduffy commented on #1066
Hmm. Something really weird going on. This is using a build for @Paulchen-Panther to test https://github.com/hyperion-project/hyperion.ng/pull/1062 -- for some reason LEDDEVICE cannot be toggled even directly on the UI (it toggles, but then it's lost on a reload).

![leddevice](https://user-images.githubusercontent.com/1136829/97113494-02124280-16a8-11eb-9542-a3b3b7058841.gif)

@Paulchen-Panther I

[2020-10-25 17:05] Paulchen-Panther commented on #1066
Tested with led device "file":

![device](https://user-images.githubusercontent.com/16664240/97113733-9605fd80-16ec-11eb-8b18-a34626e59e70.gif)

[2020-10-25 17:25] dermotduffy commented on #993
Fresh build, from head + PR1062. I get a single update, but only if the priority is lower than what is present. See gif:

![prio](https://user-images.githubusercontent.com/1136829/97114184-3687fd80-16ac-11eb-820c-c26289914055.gif)

[2020-10-25 17:30] dermotduffy commented on #993
(Same happens with effects -- it appears the correct number of updates are generated, but only if the new priority "wins").

[2020-10-25 18:08] Paulchen-Panther commented on #993
Give it another try on PR #1062 ?

[2020-10-25 18:21] dermotduffy commented on #1066
On the fresh build I did for #993 , I also **cannot** reproduce this. I'm doing another new build with your latest fix, if I still cannot reproduce this then, I'll close it out (no idea how it happened).

[2020-10-25 19:09] dermotduffy commented on #993
Same. See below:

![still-not-working](https://user-images.githubusercontent.com/1136829/97116517-e8c6c180-16ba-11eb-9cc5-545bef07132b.gif)

[2020-10-25 19:13] dermotduffy commented on #993
Build verification:

[code]

871ac095ecb904bd483684c252c6c540aad59ba8 is your most recent commit on #1062

[2020-10-25 19:20] dermotduffy commented on #1066
I still cannot reproduce this. I will re-open if it happens again reliably.

[2020-10-25 19:20] #1066 closed

[2020-10-26 00:28] pattyland opened #1068 "Add Hacktoberfest badge"
Because of too many Spammer the Hacktoberfest 2020 is for the first time Opt-in: https://hacktoberfest.digitalocean.com/hacktoberfest-update

It would be great if this project got the Hacktoberfest badge to encourage others to contribute!

Best regards
Sören

[2020-10-26 13:18] AnthraxLeprosyPi commented on #1059
@Lord-Grey,

I tried your workaround and was able to deactivate "Switch off on black" but it didn't seem to have changed anything. :sad:
The lights won't resume once playback is resumed.

anyways thanksfor your support,
Anthrax

[2020-10-26 14:19] Lord-Grey commented on #1059
@AnthraxLeprosyPi With the workaround, the lights should have not even switched-off before....
i.e. there would be no need to resume....

Would be maybe good to understand how you run the stop playback and resume scenario.

[2020-10-26 16:17] AnthraxLeprosyPi commented on #1059
@Lord-Grey ,

well, after I pause the video within Kodi there is a slight delay (maybe 2 seconds) and the hues and nanoleaf turn off/black. The the TV-Ambilight from the main instance keeps showing the paused image.

As soon as I resume playback the the nanoleaf resume perfectly but the hues won't - and yes I understand that the hues shouldn't turn off with this setting but this is what they'll do

[2020-10-26 16:22] Paulchen-Panther commented on #993
I cannot reproduce it. For me the background effect runs with prio 254 and the X11 grabber with prio 250. Here is the result:
![993](https://user-images.githubusercontent.com/16664240/97198913-afbc4900-17af-11eb-9ec5-de46fdba9205.gif)

[2020-10-27 05:39] dermotduffy commented on #993
Thanks @Paulchen-Panther . I have tried another fresh rebuild, and all sorts of various settings, priorities, removing my hyperion.db, etc.

Here is my main finding: It only fails to work if the new priority is the same as the old priority AND the new priority is the lowest/active priority. In all other cases it works correctly,

This still does not not match what your gif is showing (where you us

[2020-10-27 12:58] joachimpr opened #1069 "Add support for LIFX light bulbs"
## Feature request
Please add LIFX support (especially the light bulbs) as is implemented with Phillips Hue.

#### What problem does this feature solve?
This will allow you to extend Hyperion to other areas of your room creating a better media experience - Don't get me started on the gaming possibilities :-)

#### What does the proposed API look like?
Not applicable, I think?

#### How should this

[2020-10-27 13:49] Lord-Grey commented on #1069
@joachimpr Have you had a detailed look at the REST-API (Hue like) specification?
You can only do "120 requests for a 60 second window" which is 2Hz.

https://api.developer.lifx.com/docs/rate-limits

This is normally not the throughput/update frequency users of an ambilight system expect.
Also Philips moved to the Entertainment API for that reason.

There is an alternative protocol available which

[2020-10-27 15:45] Paulchen-Panther commented on #993
I see exactly the same in your example as in my example. First a new priority 100 (color) is registered and an output appears. Then I overwrite the Prio 100 with a different color. The Prio 100 is also the currently active color for me.
If you can give me a reproducible order, I can look again.

[2020-10-28 06:46] dermotduffy commented on #993
* Start hyperiond fresh.
   * Only System @ 254 on the remote control listings on the UI.
   * Send this (it will work):

[code]
   * Send this (it will not work -- no priority update):

[code]

[This was reproducible for me]

[2020-10-28 17:53] Paulchen-Panther commented on #993
Thank you for the detailed description. Get in touch with you when there are improvements.

[2020-10-28 17:57] joachimpr commented on #1069
@Lord-Grey would something like this not help remove some of the complexity of the LAN API?

https://github.com/mclarkk/lifxlan

What exactly is required to be able to integrate the lan API into Hyperion?

[2020-10-28 19:51] Lord-Grey commented on #1069
Hyperion would require C++ code not a python library.

Maybe something more like that:
https://github.com/riplatt/LIFX-Dimmer-Switch/tree/896a54b1812f1c05c5dbd603248ca57ec7fcf210/frimware/photon

My current experience is that for all that UDP-special protocols it is best to have the physical device at hand during development.
Therefore, I could help you or someone with LIFX with the framework and

[2020-10-31 05:31] dermotduffy commented on #993
@Paulchen-Panther I dug into this a little this evening, and discovered the same thing it seems you did: an uninitialized variable. I'm guessing we were getting different values, and this was causing the different behavior we were seeing.

Either way: I've done a new build with your latest fix on https://github.com/hyperion-project/hyperion.ng/pull/1062 and it looks good to me!

[2020-10-31 21:06] Lord-Grey opened #1071 "Fix "QNetworkConfiguration: was declared deprecated""
- [x] I confirm that this is an issue rather than a question.

## Bug report

QNetworkConfigurationManager is deprecated since Qt 5.15 and will be removed in Qt 6.

#### Steps to reproduce

Build hyperion.ng

#### What is expected?

Check for alternative solution and retire code based on QNetworkConfigurationManager.

#### What is actually happening?

#### System

[2020-11-01 06:42] Paulchen-Panther commented on #1071
Same aus #869 ?

[2020-11-01 07:38] #1071 closed

[2020-11-01 07:38] Lord-Grey commented on #1071
Duplicate to #869

[2020-11-01 09:11] dermotduffy commented on #993
@Paulchen-Panther Unrelated: Given the volume of fixes there's been on the API code (thank you!), would it be at all possible to get a new official Hyperion build after this change is in? (I have a number of parts of the Home Assistant integration work ready that depend on these fixes being in an official build).

Thank you for considering.

[2020-11-01 09:15] Paulchen-Panther commented on #993
I will advise me internally with the other members.
Also a big thank you for the constant testing and feedback. 👍

[2020-11-01 12:35] MichaelAnders opened #1072 "Support multi-range RGB gamma"
## Feature request
Support multiple RGB gamma entries in the UI (similar to a HDTV display)

#### What problem does this feature solve?
In current implementation with one RGB gamma, entire color range 0-255 is adjusted based on that value.
As a result, when displaying an image on the screen which has sections of 10 brightness levels next to each other for a color
- prime color R can be calibrated

[2020-11-01 13:09] tpmodding commented on #1072
Hey,

2 days ago we discussed internal if the actual rgb-cmy color theory makes sense...

We talked a little bit end came to an end that we need more theoretical knowledge and read a lot or best case: someone with knowledge.
with all the different color theories it is nice to have them, but it is also important to consider the hardware part, are the leds able to show the calculated color....

i've

[2020-11-01 18:15] #993 closed

[2020-11-01 18:31] peskdale commented on #1031
Closed with PR #1063

[2020-11-01 18:31] #1031 closed

[2020-11-01 18:47] #1034 closed

[2020-11-03 07:41] Lord-Grey opened #1076 "USBasp device does not work"
- [x] I confirm that this is an issue rather than a question.

## Bug report

USBasp device does not work as reported via forum

https://hyperion-project.org/threads/usbasp-device.287/#post-29214

#### Steps to reproduce

#### What is expected?

#### What is actually happening?

[code]

#### System

Hyperion 2.0.0 alpha 8 on an Intel NUC7PJYH with Kubuntu 20.04

[2020-11-03 14:09] MichaelAnders commented on #1072
I have no extra knowledge here, I just played around and saw that with different RGB gamma I got a perfect result for a specific color.

I use an HDMI Grabber along with a HDFury Diva, so the picture & colors hyperion gets is pretty close to what is shown on the HDTV.

What I can offer is the following: I can check the part "with all the different color theories it is nice to have them, but it is

[2020-11-04 18:39] guergen1 opened #1077 "Wrong direction in LED´s"
I think the LED´s show wrong direction.
In the front of the screen my LED are going up, then left, down and at the bottom right way; but in the hyperion LED Layout preview i have them to configure in the reverse direction to show the right video

Hyperion 2.0.0-alpha.8
Hyperion Server OS:
- Distribution: Ubuntu 20.04.1 LTS
- Arch:         x86_64
- Kernel:       linux (5.4.0-52-generic (WS: 64))

[2020-11-04 18:53] tpmodding commented on #1077
thanks for ignoring our issue template.
there is nothing wrong, you can choose the direction

[2020-11-04 18:53] #1077 closed

[2020-11-04 22:34] wuast94 opened #1080 "Update from old Hyperion"
How can i update from an old Hyperion installation to the Hyperion.ng?

I only have the config file and cant import that. Dont want to count all leds again and find out all the configs to set

and how do i remove the old hyperion instance?

[2020-11-05 05:31] #1080 closed

[2020-11-05 05:38] wuast94 commented on #1080
Ok closed without any info.. Not even a hint..
 Thanks...

[2020-11-05 10:16] Paulchen-Panther commented on #1080
thanks for ignoring our issue template.

[2020-11-05 10:31] wuast94 commented on #1080
It's not a bug and it's not a feature request.. It's a simple question that I can't find in docs or already opened and closed issues. Why should I discripe bug and API questions when the issue I have is of a complete different topic?

I have no problems to provide more infos and I don't have any problems to fill out a template.. But the templates doesn't fit my question and I can't fit my question

[2020-11-05 11:13] Paulchen-Panther commented on #1080
https://hyperion-project.org

[2020-11-05 11:14] tpmodding commented on #1080
there is no update from old to new... the changes are to big...it is not possible, im sorry but you have to count the leds...

if you need support, then visit our forum please. thanks

[2020-11-05 12:06] Lord-Grey commented on #1080
Maybe stating the obvious...

In the old json config you have the LEDs numbered by the index element.

[code]

As the numbering is zero based, the highest index number+1 is your number of LEDs.
I do not understand why you make that big fuss about counting LEDs.
Just read your config file....

[2020-11-05 16:50] #1068 closed

[2020-11-06 23:23] orecus opened #1081 "Smoothing broken after PR #1043 ?"
- [x] I confirm that this is an issue rather than a question.

## Bug report
It seems that Smoothing is completely broken after the #1043 PR. Tested first on commit 36c0514 and going back to commit 8345544 works fine.

If smoothing is enabled on 36c0514 the LEDS never update, regardless of the configuration set for Smoothing, the "outputRate" is always 0hz regardless of what is set in the UI. If I

[2020-11-07 06:56] Lord-Grey commented on #1081
@orecus Could you re-test with #1075, pleae?

[2020-11-07 12:43] orecus commented on #1081
@Lord-Grey Still the same i'm afraid. I've set Output Rate to 25 in the GUI, saved and restarted the Hyperion Service to verify that it's actually saved. Still shows 25 in GUI but logs says 0.

[code]

[code]

[2020-11-07 15:28] Lord-Grey commented on #1081
@orecus Sorry, did you load a pre-build artifact from git or built one by your own?

https://github.com/hyperion-project/hyperion.ng/pull/1075/checks?check_run_id=1367080469

For testing, I loaded the Window Build, did updates to all fields (with values easily recognisable) and those values perfectly made it to the log output.

![image](https://user-images.githubusercontent.com/48840279/98445037-b

[2020-11-07 16:21] dermotduffy commented on #993
@Paulchen-Panther Quick check: do you have any news on a release ETA? Just want to know roughly, so I can plan accordingly. Thank you!

[2020-11-07 17:18] wuast94 opened #1083 "USB HDMI Grabber not showing up in live view"
- [x] I confirm that this is an issue rather than a question.

## Bug report

I have bought an hdmi usb grabber, googled arround and didnt find a solution, but some people just pluged it in and it works:
https://www.amazon.de/gp/product/B0895N9KM5/ref=ppx_yo_dt_b_asin_title_o01_s00?ie=UTF8&psc=1

#### Steps to reproduce

#### What is expected?

#### What is actually happening?
Nothing, played arro

[2020-11-07 17:56] awawa-dev commented on #1081
Seems  "Build:       Test (LordGrey-722eb79b/228c6c4f-1604732075)" incorporate that fix.
Lord-Grey check it please with some old user config with enabled linear smoothing before, for example 2.0.0.8 release. In my case it starts to lose settings and it jumps in some kind of loop. Removing config fixes it but isnt an option for most users.

[2020-11-07 17:59] orecus commented on #1081
@Lord-Grey The basic steps I did when I found this issue and my test today;

1. Started fresh with a clean install (and no exsisting configuration) and built from source based on 36c0514.
2. Discovered the issue once I had setup my devices, they only worked if Smoothing was fully off.
3. Downgraded to 8345544 ontop of my configuration and enabled Smoothing, works as expected.
4. Tested PR #1075 by

[2020-11-07 19:05] Lord-Grey commented on #1081
@orecus I will have another look.
Nevertheless, a valid test scenario is to install alpha 8 and create a configuration. Then install the latest PR and see, if it is working.
If the configuration was spoiled due to some interim PRs, is the risk of running interim versions.

@awawa-dev/ @orecus I tested with old config records in the DB and then started Hyperion and it worked at my end.
Could you sh

[2020-11-07 19:14] orecus commented on #1081
@Lord-Grey I'm only running one installation on my end, attached is my configuration. `outputRate` seems correct in there, but the that value does not seem to be used as mentioned and in the logs.

[Hyperion-2.0.0-alpha.8-Backup (Ambilight Config) 2020.11.07.json.txt](https://github.com/hyperion-project/hyperion.ng/files/5505316/Hyperion-2.0.0-alpha.8-Backup.Ambilight.Config.2020.11.07.json.txt)

[2020-11-07 19:54] Lord-Grey commented on #1081
@awawa-dev

Please find below the test-scenario moving from Alpha-8" to "new".

Have the smoothing configuration as in Alpha-8 (I put some odd numbers for traceability).

![image](https://user-images.githubusercontent.com/48840279/98450090-f90a8200-2139-11eb-8664-71b365d3123f.png)

Start hyperion
It reads the old-config, plus values are mapped and new values are defaulted correctly.

[code]

![ima

[2020-11-07 20:50] Lord-Grey commented on #1081
@orecus I guess I now know what might confuse you....

You see different selectConfig log-lines. Some with e.g. decay and some even with linear and different value sets, correct.

Similar to those:
[code]

The reason for the different logs is that one could configure a different smoothing configuration set per effect.
Given that you might run a start or background effect, you see different lines.

[2020-11-07 20:54] awawa-dev commented on #1081
Compiled PR myself and it doesnt work, jumps from one settings to other after start
[code]
![image](https://user-images.githubusercontent.com/69086569/98451035-64585200-2142-11eb-8d8d-613e87c8f82a.png)
![image](https://user-images.githubusercontent.com/69086569/98451059-a6819380-2142-11eb-8d97-471777fae6aa.png)

![image](https://user-images.githubusercontent.com/69086569/98451096-fd876880-2142-11e

[2020-11-07 20:55] Lord-Grey commented on #1081
see previous post for the explanation. seems feedback cross...

[2020-11-07 20:57] awawa-dev commented on #1081
nope, there is no 'decay' in my log

[2020-11-07 21:05] Lord-Grey commented on #1081
You will only see "decay", if you configured decay. You configured "linear". I just refereed in the explanation to my sample provided.
If you change the mode to "decay" you will see the default config 0 = "decay" and the other config sets as"linear".

I just pushed a small change that you see the config# before the type of configuration.

**cfg [0]** matchs the values on the UI

Sample:

`DEBUG> L

[2020-11-07 21:16] awawa-dev commented on #1081
OK, I've completely disabled effects. Now I have double initialization but at least the settings are correct:
[code]
But still I dont know how to setup linear smoothing. Which settings holds frequency for LEDs.

[2020-11-07 22:28] The-Master777 commented on #1081
When you use linear mode, the only settings that matter are Time and Update Frequency. They should work exactly like they used before.

e.g.:

**Type:** `Linear`
**Time:** 190
**Update Frequency:** 25

Should update the LEDs every 40ms = 25 times a second, and target a linear interpolation time of 190ms between frames. This just behaves like it used to before introduction of decay. The values of i

[2020-11-08 08:42] orecus commented on #1081
@Lord-Grey That explains the values in the logs, good that you added `cfg [i]` so you can see the difference, but it still doesn't work. Neither Linear or Decay, so there seems to be something broken with smoothing.

I still see outputRate = 0 for both the configurations in the log, even when I've set it to 25 in the GUI, I would expect one of them to show 25 since that is set in the UI.

[2020-11-08 20:27] Chaphasilor opened #1084 "Floating point exception when configuring lost of LEDs per side"
- [x] I confirm that this is an issue rather than a question.

## Bug report

I use a ws281x LED strip with 144 LEDs on ~1.5m. That's most likely way more than necessary, but given the short length of the strip, I still would like to have it only show a single side (e.g. bottom side).

If I configure less than 144 LEDs in the layout settings, my strip will only light up partially; the only workaro

[2020-11-08 20:56] Lord-Grey commented on #1084
@Chaphasilor Thanks for reporting.
The issue is already known #909 and has been already fixed by #1047.

[2020-11-08 20:57] Lord-Grey commented on #1084
Closed as Duplicate

[2020-11-08 20:57] #1084 closed

[2020-11-08 21:08] Chaphasilor commented on #1084
Great! Thanks a lot :D

[2020-11-09 12:24] m0uh85 commented on #1061
I have a similar problem. After a restart of my system the USB Grabber is not visible at the source selection. I tried to turn off / on again. Nothing happens.
![DEBUG](https://user-images.githubusercontent.com/74188081/98540869-dccc2980-228e-11eb-998a-fd60f04a4cfa.JPG)
![System](https://user-images.githubusercontent.com/74188081/98540873-ddfd5680-228e-11eb-940c-9b866094b55c.JPG)

[2020-11-10 06:41] ffzwadd opened #1085 "AutoMoc error"
- [x] I confirm that this is an issue rather than a question.

## Bug report

AutoMoc error
-------------
"SRC:/libsrc/utils/hyperion-utils_autogen/mocs_compilation.cpp"
includes the moc file "YC2X3M4VYJ/moc_GlobalSignals.cpp",
but a header "YC2X3M4VYJ/GlobalSignals.{h,hh,h++,hm,hpp,hxx,in,txx}"
could not be found in the following directories
  "SRC:/libsrc/utils/hyperion-utils_autogen/YC2X3M4VYJ"

[2020-11-10 08:37] #1085 closed

[2020-11-10 08:39] Paulchen-Panther commented on #1085
We do not support OpenWRT. Closed

[2020-11-10 12:44] blindlight86 opened #1086 "Forwarder not working"
- [ ] I confirm that this is an issue rather than a question.

## Bug report
source hyperion1 x86_64 forward to hyperion2 raspberry pi.
Got the forwarder working once, but I can't get it done since I reinstall the the system where source hyperion1 is running and hyperion.

**hyperion1**
- ip: 10.0.0.110
- X86_64
- 2.0.0-alpha.8
- USB Capture activated
- Forwarder activated:
    Json target 1: 10.0

[2020-11-10 13:19] #1086 closed

[2020-11-10 17:19] Nico04 opened #1088 "Auto disabled LED period (on/off hours option)"
# Feature request
Add the ability to set hours when the led would by default be off.
For instance, if off hours are set between 8 am and 8 pm, the led would by default be off during that period. Outside this period, it would be normal behaviour.

#### What problem does this feature solve?
It would be very usefull when watching video during daytime where the LED are not usefull nor visible.

#### W

[2020-11-11 00:52] JeffResc opened #1089 "Error while running in Docker container"
- [x] I confirm that this is an issue rather than a question.

## Bug report
Hello,
I've created a custom Dockerfile and image in order to run Hyperion inside of a Docker container. When running the `hyperiond` binary, I received the following error:
[code]
I don't plan on using the display grabber, only a USB capture card, so I could remove the feature if supported.

#### Steps to reproduce
Creat

[2020-11-11 08:49] pootle opened #1090 "Hyperbian image fails to start web service out of the box"
- [x] I confirm that this is an issue rather than a question.

## Bug report
installed Hyperbian on SD card and inserted into Raspberry Pi 3B (Wired connection)

Trying to open the web page (IP:8090) web page times out

#### Steps to reproduce
Put latest hyperbian image onto an SD card

Put card in Raspberry Pi

power on

try to access configuration web page

#### What is expected?
I expect to see

[2020-11-11 09:17] pootle commented on #1090
Tried with new image on Raspberry Pi Zero - same result.

Also found in top that there is a hyperiond process running using 35 - 40% cpu.

[2020-11-11 09:24] OBrown92 commented on #1013
I can report the same issue with alpha8 on LibreElec. I'm not able to watch prime video without glitches when running hyperionng.

[2020-11-11 09:28] tpmodding commented on #1090
hi,
how did you flash the image on the sd card?

[2020-11-11 10:23] AnthraxLeprosyPi commented on #1059
Hi Lord-Grey,

I've just read your instructions again and stumbled upon "If you compile yourself, you might have it configurable by adding the _switchOffOnBlack condition." - Did you mean I HAVE TO COMPILE myself and then the workaround should work or should it work just by simply tricking the ui as described?

Man I feel stupid now ;-)

Anthrax

[2020-11-11 11:33] pootle commented on #1090
Raspberry pi imager v1.2. Then I put on the ssh file and the wpa_supplicant file. Same as I always do preparing cards.

[2020-11-11 12:39] Lord-Grey commented on #1059
@AnthraxLeprosyPi Sorry, looks like I have not expressed myself clear enough.
To overcome the issue a code change is required mandatorily.

Either via the workaround outlined above or with a general fix.

If you do not want to wait for a general fix, you could do the code change yourself and this mean you need to compile Hyperion yourself to get the workaround in place.

[2020-11-11 16:05] AnthraxLeprosyPi commented on #1059
Hi @Lord-Grey,

yeah already made the code change and rebuilt, and to no one's (ok, my) surprise it works ;-)

So, I can live with this workaround.

THANK YOU
Anthrax

[2020-11-11 16:38] Lord-Grey commented on #1059
@AnthraxLeprosyPi Good to hear.

Luckily not to my surprise (as I tested it before...)  :)

[2020-11-12 08:50] bobbynobble commented on #1061
I have the issue too and as per @m0uh85 nothing can persuade the USB grabber to appear as a source. It's nothing to do with the grabber as I've tried installing Hyperbian on an Rpi and it works perfectly straight from set up, only difference in logs is it sets the 240 priority to active like it should do.

![Screenshot 2020-11-12 at 8 42 00 AM](https://user-images.githubusercontent.com/26139271/98

[2020-11-12 15:03] todely opened #1091 "Color correction for grabbed picture"
Hello
Is it possible to add a feature to correct color of grabber ? (My grabber do not support any custom v4l2 parameters...
Captured picture give me a green dominant coloration.. so when it’s blue on tv led go to a blue/green color...

Thanks !

[2020-11-12 15:32] #1091 closed

[2020-11-12 16:13] todely commented on #1091
Why closed ?

[2020-11-12 16:30] Paulchen-Panther commented on #1091
Please use our Feature Request Templates.

[2020-11-12 16:35] todely commented on #1091
Ok i will
Sorry

[2020-11-12 16:47] todely opened #1092 "Color correction for grabbed picture"
## Feature request
Add colors RGB, gamma, brightness and saturation correction to applied on capturing hardware flow to avoid bad / not exact color transcription from hyperion to led device

#### What problem does this feature solve?

Solve issue for grabber with bad / incorrect transcode signal and perhaps HDR signal.

#### What does the proposed API look like?

Adding parameters in capture hardw

[2020-11-13 10:36] panec commented on #764
Had anyone had any problems with exposed ports? While the 8090 works fine, the 19333 19400 19445 cannot be accessed at all (tested from an android phone using Android grabber & Hyperion app)?

[2020-11-13 20:00] SetupCoding opened #1093 "Cannot post with a registered and verified e-mail on https://hyperion-project.org/"
- [x] I confirm that this is an issue rather than a question.

## Bug report
After registering with an e-mail and verifying said e-mail on every subsection of the Forum I see the following thing:
(You have insufficient privileges to post here.)

#### Steps to reproduce
Register with an e-mail and verify it. Log in with said e-mail.  You will see `(You have insufficient privileges to post here.)` a

[2020-11-13 20:56] Paulchen-Panther commented on #1093
@tpmodding!

[2020-11-14 03:22] tpmodding commented on #1093
Spam Filter hat zugeschlagen...sollte nun gehen :-)

[2020-11-14 03:22] #1093 closed

[2020-11-14 19:23] bobbynobble commented on #1061
I tried alpha.6 and 7, same issue so appears to be an ongoing issue with some platforms.

[2020-11-14 21:58] patriot1889 opened #1094 "Colour calibration crashes"
- [x] I confirm that this is an issue rather than a question.

## Bug report

Colour calibration crashes when trying to change the colours. I was originally on release 8 on a stock pi image, reinstalled the whole system with HyperBian to test, still happens.

#### Steps to reproduce

Use colour calibration tool

#### What is expected?

For it work and not crash

#### What is actually happening?

I

[2020-11-15 20:38] panec commented on #764
I still have no clue why it is not working. This is a netstat from the running container with hyperion.ng
[code]

`172.30.33.5` - is hassio IP address
`192.168.1.75` - is host machine IP address
` 192.168.1.110` - is the address of the PC from which I access the web GUI

Any suggestions why I cannot connect to 19444 or 19445?

[2020-11-16 08:56] ProtoxiDe22 opened #1095 "WLED device should not turn automatically off after hyperion shutdown"
## Feature request
First of all, i don't really know if this should have been a feature request or bug report, it's is kinda in the middle.
It seems like that when WLED was implemented in Hyperion as a controller type, a new feature was added, that automatically  shuts down the WLED device when Hyperion is closed, this is not always a desidered behaviour, as the user might want to use WLED's light

[2020-11-16 09:33] Aircoookie commented on #1095
@HyperionNG devs: First of all, thank you very much for adding an integration for my software to Hyperion.NG :) That's awesome!

[Here is my proposal](https://github.com/Aircoookie/WLED/issues/1308#issuecomment-727854764) for the in my opinion ideal behavior. Maybe there are better options though, like a user config option.

[2020-11-16 10:36] Lord-Grey commented on #1095
I will have a look at the topic...

[2020-11-16 14:25] panec commented on #1086
@blindlight86 I have the same issue running 2.0.0-alpha.8 on RPi3B and RPi4. Why had you closed the issue? Have you solved it?

[2020-11-16 16:03] rassaei commented on #665
@tpmodding could you please activate my account on the forum? Username is obscuritas

[2020-11-16 16:05] tpmodding commented on #665
@rassaei done

[2020-11-16 17:21] Tihass1975 opened #1096 "X86_64 Linux Wayland Session - no Screen grabbing."
- [x] I confirm that this is an issue rather than a question.

## Bug report
When i start a Wayland Screen Session under Manjaro with Gnome Desktop, the Screen grabbing does not work, no matter which grabber I use.

#### Steps to reproduce
Instead of X.org use Wayland for Screen session.

#### What is expected?
That the function is implemented under Wayland, Wayland Support for Hyperion.

#### Wha

[2020-11-16 18:10] aut0 opened #1097 "Autostart systemd Ubuntu 20.04 issues"
- [x] I confirm that this is an issue rather than a question.

## Bug report

Hyperion NG works on my Ubuntu 20.04 on an x86_64 machine. So far so good. But I cannot figure out how to get autostart working. I get errors in the journal like so:

[code]
It looks like the ttyUSB0 is not there when hyperion wants it to be there. I tried to run with debug, but it gives no conclusive output.
When I rest

[2020-11-16 18:32] Tihass1975 commented on #1097
The same Problem under Manjaro 20.1.2

[2020-11-18 19:23] Paulchen-Panther commented on #1097
This post may help you here:
https://superuser.com/a/1287260

[2020-11-20 12:54] N1c093 opened #1098 "LED stays black at Alpha Version 9"
- [x] I confirm that this is an issue rather than a question.

## Bug report
After the upgrade to Alpha Version 9 my LED "ws2801" stays black.
The LED also stay black, if I set a color manually.

When I  downgrade to Alpha 8 everything runs fine again.

Do you need more log files or somethin else?

#### Steps to reproduce
Upgrade to Alpha 9

#### What is expected?
LEDs should light up, for example

[2020-11-20 20:50] Lord-Grey commented on #1098
@N1c093 Could you Check, if there is a difference in behavior, if you disable smoothing?

[2020-11-21 13:27] N1c093 commented on #1098
@Lord-Grey After I disabled smoothing the LEDs work as expected.

Are my settings wrong or is it a bug in Alpha 9? In Alpha 8 my smoothing settings works fine.

These were my settings in Alpha 8:
![image](https://user-images.githubusercontent.com/59510296/99878405-6b349980-2c05-11eb-8cc0-195334530cfe.png)

These are my settings in Alpha 9:
![image](https://user-images.githubusercontent.com/5951029

[2020-11-21 15:33] Lord-Grey commented on #1098
@N1c093 Thanks for reporting back.
In the latest release an additional smoothing methods was introduced. It might be that that change negatively impact the overall smoothing capabilities.

After switching off smoothing, it worked. Did you try turning smoothing on again? Does it work afterwards?
Could you try with Continous Output (Fortlaufende Ausgabe) enabled?

Plus Test not with Linear but the n

[2020-11-21 20:42] Paulchen-Panther commented on #1061
@dermotduffy @bobbynobble
Alpha 9 is out. Could you please test again?
Many thanks.

[2020-11-22 00:32] nAFutro commented on #1006
Ubuntu 20.10 doesn't have the libcec4 package anymore, it's been deleted on 2020-08-18. Can the .deb installer check for libcec6 or just libcec?

[2020-11-22 03:45] dermotduffy commented on #1061
I was not able to reproduce this on alpha.9. Will leave it to @bobbynobble to comment on their side.

[2020-11-22 12:04] eloo commented on #1013
So i've just checked the Haspbian.
With a complete fresh installation i still see a high amount of cpu usage.

![image](https://user-images.githubusercontent.com/2631895/99903048-23c01300-2cc2-11eb-8f7f-464738fca957.png)

Please mind that i have NOT configured any grabbing or LED hardware yet.
This seems pretty high to me for "doing nothing".

I've also tested to disable everything (blackbar detec

[2020-11-22 12:14] Paulchen-Panther commented on #1013
Please deactivate the boot and background effect. I think it's because of the effect engine.
Thanks for testing.

[2020-11-22 12:17] Paulchen-Panther commented on #1006
@nAFutro
Thanks for the hint.
I have fixed it so I will close this issue for the time being.
Should problems arise again, simply open the issue again.
https://github.com/hyperion-project/hyperion.ng/commit/19c850b4794225b9c0bc8fac6f3c038fd94c93e8

[2020-11-22 13:10] bobbynobble commented on #1061
@Paulchen-Panther
Thanks for the heads up, unfortunately it is exactly the same for me.

[2020-11-22 13:17] Paulchen-Panther commented on #1061
@bobbynobble
Full log please.

[2020-11-22 14:03] bobbynobble commented on #1061
@Paulchen-Panther

Here you go, from startup and did a couple of turning the USB capture on and off at end...

[code]

[2020-11-22 14:10] sebastien247 opened #1099 "Support Bluetooth Low Energy devices from HappyLighting"
## Feature request

#### What problem does this feature solve?
Support Bluetooth Low Energy devices from HappyLighting, Triones, Appolo Lighting (same company)

#### What does the proposed API look like?
Qt Bluetooth Low Energy with this protocol: https://gitlab.com/madhead/saberlight/-/blob/master/protocols/Triones/protocol.md

#### How should this be implemented in your opinion?
Just adding a de

[2020-11-22 14:23] Paulchen-Panther commented on #1061
@bobbynobble
Are you using the same Pi and the same system as @dermotduffy

[2020-11-22 14:28] Paulchen-Panther commented on #1061
What formats does your grabber support?
`v4l2-ctl --list-formats-ext`

[2020-11-22 14:32] m0uh85 commented on #1061
@Paulchen-Panther same issue with alpha 9

 2020-11-21T10:25:31.242Z [hyperiond SETTINGSMGR] (WARNING) Config Fix: [root].framegrabber.device: Removed property: device
 2020-11-21T10:25:32.628Z [hyperiond DAEMON] (INFO) CEC handler created
 2020-11-21T10:25:32.659Z [hyperiond EFFECTFILES] (INFO) 39 effects loaded from directory :/effects/
 2020-11-21T10:25:32.666Z [hyperiond EFFECTFILES] (INFO) 22

[2020-11-22 14:57] bobbynobble commented on #1061
Nope, as per original post, grabber works perfectly on a Pi 3 running Hyperbian, the problem version is X86 on Linux...

[code]

[2020-11-22 15:03] Paulchen-Panther commented on #1061
OS?

[2020-11-22 15:18] Paulchen-Panther commented on #1061
I suggest I close this issue and a new one will be opened.
It seems that the problems that @dermotduffy  did not coincide with the problem of @bobbynobble and @m0uh85 .

[2020-11-22 15:18] #1061 closed

[2020-11-22 15:40] N1c093 commented on #1098
@Lord-Grey

I did some testing today.

- Turning smoothing off and on again doesn't help.
- Enable "Continuous Output" works 👍
- Set the mode to "Dämpfung" only work with "Continuous Output" enabled. Btw. "Dämpfung" doesn't looks good for me, it's pretty slow and there are lots of lags.

In summary: The smoothing only works if I enable "Continuous Output"

I'm happy to help :)

[2020-11-22 16:27] Paulchen-Panther commented on #1089
@JeffResc
First of all, I would recommend you to set the build type (DCMAKE_BUILD_TYPE) to "Debug" or "Release". 😄
Then you could, if you don't need it anyway, exclude the DispmanX Grabber (-DENABLE_DISPMANX=OFF).
After that, your container should also run under rpi.

[2020-11-23 18:08] Lord-Grey commented on #1099
Hi @sebastien247
In case you need some pointers on how to start with/improve your LED-device code, do not hesitate coming back to me.
As a framework, you could start with the LedDeviceTemplate.cpp

The sequence of method calls which you could override is outlined in the LedDevciceFlows document.
https://github.com/hyperion-project/hyperion.ng/tree/master/docs/development

[2020-11-24 04:18] Bboy486 opened #1100 "Hue play bars not at full brightness"
Follow up to: Change the brightness at the color adjustments, this will reduce the overall.

_Originally posted by @brindosch in https://github.com/hyperion-project/hyperion.ng/issues/805#issuecomment-634934220_

I was not sure what that meant but my play bars and blooms are very dim (Hyperbain Rpi 4).

[2020-11-24 17:51] #1100 closed

[2020-11-24 23:52] CalvinSchwartz opened #1101 "Uses WLED brightness settings instead of full range set in Hyperion settings"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce
- Set brightness at boot in WLED the WLED LED settings to a low value (10) or enable “turn off at boot”, then reboot.
- Start Hyperion, connect it to WLED.
- Or set brightness in WLED UI

#### What is expected?
Hyperion uses the maximum brightness setting which is defined in its config (100%) and

[2020-11-25 07:42] Lord-Grey commented on #1101
@CalvinSchwartz Thanks for sharing this requirement with us. It is not a bug, but might be considered as a feature enhancement going forward.

In the interim, I would suggest you make use of the WLED configuration, where you can already configure this behaviour for streaming input.

Go to the WLED configuration -> Sync. Settings and enable "Force max brightness"

![image](https://user-images.githu

[2020-11-26 21:17] Crazor commented on #856
So what's the solution here, since it was closed??

[2020-11-26 23:33] CalvinSchwartz commented on #1101
Thank you very much, I missed this setting.
It seems to work and turns up the brightness to max. if WLED is set to a brightness greater than 0 at boot.

However if WLED is configured to be turned of or brightness 0 at boot there seems to be a bug.
In this case Hyperion takes control of WLED some seconds after boot, sets the colors according to the current picture captured but stays at this color e

[2020-11-27 17:29] Lord-Grey commented on #1101
@CalvinSchwartz You might need to describe your test scenario in more detail....

I was running the following on hyperion alpha and it worked.

1. I disabled power on and brightness on WLED

![image](https://user-images.githubusercontent.com/48840279/100473102-e2729d80-30dd-11eb-903a-37c161aa13d1.png)

2. I started hyperion and started a color feed

3. I restarted WLED

4. WLED catches up with the

[2020-11-27 19:04] MatthewJK commented on #1006
Same problem 11/27/2020

Raspberry PI 2 V1.1
used Hyperion-2.0.0-alpha.8-Linux-armv7l.deb
Needed to use apt-get install libcec4  <= project is missing dependencies

Now Hyperion loads on port on http//::xxx.xxx.xxx.xxx:8090.

Without libcec4 installed, no services outside of SSH port 22 were running.

[2020-11-27 19:09] #1006 closed

[2020-11-27 19:10] Lord-Grey commented on #1006
@MatthewJK Please retest with the latest release which is alpha 9 ( and not 8). The problem was fixed there. See releasenotes too.

[2020-11-27 19:25] CalvinSchwartz commented on #1101
Basically I was performing the same steps but used the USB-Grabber as a source instead and watched a movie.
If WLED was turned off at boot WLED catches up with the color (step 4.) but stays there even when the colors of the movie/grabber continue to change.

But I’ll try it again for a week or so and report if the bug continues or if it was just an odd one-time behavior.

[2020-11-27 22:21] YannikW opened #1102 "WLED only light up if also adalight is active"
- [x] I confirm that this is an issue rather than a question.

## Bug report

WLED is not working if there isn't a second instance running (in my case adalight).
Even the grabber preview doesnt show any picture. If I enable a second instance with adalight, both adalight and WLED works fine. Deleting or disabling the adalight instance also stops wled from working. It does not matter which one is th

[2020-11-27 22:27] MatthewJK commented on #1006
I had the same problem with 9, which is why I downloaded and tested with 8.    When 8 had the same issues, I went looking for answers.

[2020-11-28 07:58] Lord-Grey commented on #1006
Suggest you open a new issue for alpha9 including your platform details, way how you installed and a debug log output.

[2020-11-29 21:33] heikomat commented on #768
Thank you @Portisch, that worked for me!

[2020-12-01 07:07] JeffResc commented on #1089
@Paulchen-Panther Awesome — Looks like that solved the problem, thank you!

[2020-12-01 07:07] #1089 closed

[2020-12-01 12:58] ratbgt77 opened #1103 "Package dependency errors when installing on RPi 0"
When installing Alpha 9 release on a RPi 0 I get the following package dependency error.

## Bug report

#### Steps to reproduce
 sudo dpkg -i Hyperion-2.0.0-alpha.9-Linux-armv6l.deb

#### What is expected?
Hyperion installation is successful.

#### What is actually happening?
Unpacking hyperion (2.0.0) ...
dpkg: dependency problems prevent configuration of hyperion:
 hyperion depends on libcec4;

[2020-12-01 12:58] #1103 closed

[2020-12-01 13:08] Paulchen-Panther commented on #1103
https://unix.stackexchange.com/a/159114

[2020-12-01 14:03] aut0 commented on #1097
Solved by creating a udev rule to start systemd service when /dev/ttyUSB0 is available, as described [here](https://unix.stackexchange.com/questions/436666/run-service-after-ttyusb0-becomes-available)

[2020-12-01 14:03] #1097 closed

[2020-12-02 03:18] Zarkstar opened #1104 "WLED on macOS bug"
- [x] I confirm that this is an issue rather than a question.

## Bug report
Hyperion with wled works as expected on windows, but on Mac it flashes the default WLED color every once in a while.<del>  I suppose this is due to home assistant trying to take control on the device, but I was expecting it to behave like in W10, where home assistant can't override WLED UDP unless stated. </del> EDIT: I'v

[2020-12-03 02:54] Zarkstar commented on #794
I am running Hyperion on macOS and this happens to me as well... any fix for this? alpha 9 didn't solve it

[2020-12-03 19:02] Dewi02 opened #1105 "Color state not updating"
- [x] I confirm that this is an issue rather than a question.

## Bug report
Disabling and reenableing the LED Device won't set the previous color again

#### Steps to reproduce
- Set a color
- Switch "LED device" Off
- Switch "LED device" On

#### What is expected?
The LED's should output the previous color again

#### What is actually happening?
The LED's remain disabled until you set a color ag

[2020-12-03 19:59] Paulchen-Panther commented on #1105
Which LED device is affected?

[2020-12-03 20:15] Dewi02 commented on #1105
APA102

[2020-12-04 10:46] crazy888 opened #1106 "Proto Grabber is deleting hyperion-remote effect in source list"
- [x] I confirm that this is an issue rather than a question.

## Bug report
When having hyperion-remote effect active with priority 112 and turning on my TV the Android TV Grabber starts sending Input with PROTO port 19445 and priority 100.
When Proto port starts sending the hyperion-remote effect is deleted from the source list.
Afer turning off the TV the Proto port is closed and the hyperion-r

[2020-12-04 11:20] Paulchen-Panther commented on #1106
Thanks for your feedback We'll look into the problem at the next opportunity.

Paulchen panther

[2020-12-05 11:03] eloo commented on #1013
@Paulchen-Panther
Okay that was a good hint.
I've just deactivated the boot and background effects.
Result:
Boot effect doesn't have an impact on the CPU Load
But the background effect has dropped the CPU load to around 6%

So its still a bit more than with the "legacy" hyperion but it feels better.
While watching the CPU load increases to 7-9% now .
I guess thats pretty fine.

Maybe it would make

[2020-12-05 21:30] kevinlekiller opened #1107 "More advanced Color Calibration (calibrating the darker colors also?)"
I am using the latest version of Hyperion.
## Feature request
Currently we can calibrate W RGB CMY, but this is at 100% of those values, ideally we should be able to calibrate at not 100%. With Calman you can do graypoint calibration which, by default does 0% (black) 10% 20% 30% 40% 50% 60% 70% 80% 90% 100% (white) from what I can remember, you can also do CMY measurements. I don't think we should

[2020-12-06 18:09] thosoo opened #1109 "Python ModuleNotFoundError: No module named 'math'"
- [x] I confirm that this is an issue rather than a question.

## Bug report

I have compiled hyperion from sources on a fresh fedora server image in a VM to fix a libcec bug. On start of hyperion I receive the following error log:
[code]

#### Steps to reproduce

Compile and install on fedora server.

#### What is expected?

No error messages

#### What is actually happening?

Error messages

###

[2020-12-06 18:11] ChR-iSz opened #1110 "/dev/spidev1.0 not selectable in Webinterface"
- [x] I confirm that this is an issue rather than a question.

## Bug report
Second LED Stripe on Raspberry 4 GPIO /dev/spidev1.0 not selectable from Webinterface

#### Steps to reproduce
Add `dtoverlay=spi1-3cs` in /boot/config.txt to enable the seconds SPI Device

#### What is expected?
In Webinterface: LED Hardware -> Controller Type -> ws2801 -> SPI Path -> /dev/spidev1.0 selectable.

#### Wha

[2020-12-06 18:58] Paulchen-Panther commented on #1109
Was it compiled via Docker or native?

[2020-12-06 19:01] thosoo commented on #1109
It was compiled native

[2020-12-06 19:03] Paulchen-Panther commented on #1109
What dependencies do you have installed?

[2020-12-06 19:33] thosoo commented on #1109
I tried to copy in here all the relevant commands I have done to compile it. I can also paste a list of all installed packages if needed..
[code]

[2020-12-06 19:53] Paulchen-Panther commented on #1109
There seems to be a problem with the python modules on Fedora. Since you have compiled on this system anyway, you can solve the problem by deleting the python folder in the hyperion directory.

`sudo rm -R /usr/local/share/hyperion/lib/python`

[2020-12-06 19:59] thosoo commented on #1109
This workaround worked. Wunderbar, danke!

[2020-12-07 08:22] Lord-Grey commented on #1110
Currently, only those two values are selectable.
We are currently exploring to have the list generated dynamically, but that is still in the making.

Until then you add the additional GPIOs into the "output"

./libsrc/leddevice/schemas/schema-ws2801.json

and do a Pull request.

Note: You with also extend other devices where GPIO selections are provided.

[2020-12-08 13:52] mathman opened #1113 "Idle mode effects do not work properly when more than 1 instance is active"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce
Create three instances
Use hyperion android grabber or other remote control
Stop remote control.

#### What is expected?
When remote control is stopped the leds use effect or color who was chosen for idle mode.

#### What is actually happening?
If i stop hyperion android grabber the leds stay with

[2020-12-10 16:23] Arthur-Koo commented on #1110
I've tried that on Pi3 with additional line 'core_freq=250' in boot.txt. There is output from GPIO 20, but the light doesn't change.

[2020-12-10 16:32] Lord-Grey commented on #1110
And did you check the log output for errors?
You might want starting Hyperion in debug mode and share the log output...

[2020-12-10 16:49] ChR-iSz commented on #1110
Output from GPIO 20 (Mosi) and ... ?

Do you use a WS2812(b) Stripe, or WS2801 ?

[2020-12-11 04:12] Arthur-Koo commented on #1110
1) 2812B.
2) Add 'core_freq=250' into config.txt to avoid GPU freq issue with SPI which will cause reboot on Pi3.
3) Add dtoverlay=spi1-3cs or spi1-2cs in /boot/config.txt. Add spidev1.0/spidev1.1 option to 2812B SPI. Then the 2812B SPI LED linked to GPIO 20 (Mosi) and assigned to spidev1.0/spidev1.1 can light on, but it does not work properly, just light without effect, and then auto reboot after

[2020-12-11 16:27] ChR-iSz commented on #1110
@Arthur-Koo
you know, that you must edit the WS2812 Schema file, and not this from this pull request #1112 here ?

**wrong:**
./libsrc/leddevice/schemas/schema-ws2801.json

**right**
./libsrc/leddevice/schemas/schema-ws2812spi.json

And, you must turn off the audio out. Comment in this line:

**wrong**
dtparam=audio=on

**right**
# dtparam=audio=on

[2020-12-12 00:49] maxakuru opened #1116 ""Bridge response is not Valid" when enabling Hue Entertainment"
- [x] I confirm that this is an issue rather than a question.

## Bug report
Using diyHue Hue Emulator, enabling Entertainment mode immediately disables the LED device. In logs I can see the following messages:

[code]

Most notably the message: `set stream to false: Bridge response is not Valid`

To me, it appears the request to either enable streaming is successful (200 code, body looks correct

[2020-12-12 09:54] penfold42 commented on #1110
2812 won’t work on SPI1 - there’s no DMA support and a pitiful TX buffer

[2020-12-12 14:35] grahamrobertslx opened #1117 "Pixel Matrix option"
Hi All,

It would be great if you could be able to create a matrix of pixels instead of just the outer edge pixels.

Id love to help out on this but my coding skills are very small. Im more Hardware than Software.

[2020-12-12 16:41] #1117 closed

[2020-12-13 10:10] Paulchen-Panther commented on #1090
I close this issue because there are no errors in the steps to reproduce it.
1. Fresh HyperBian image downloaded.
2. Written on SD card.
3. WebUI is available.

Proof:
![dashboard](https://user-images.githubusercontent.com/16664240/102008851-b426cc00-3d33-11eb-9923-ca998075f2fa.png)
![about](https://user-images.githubusercontent.com/16664240/102008858-b852e980-3d33-11eb-9357-e08c929e409b.png)

[2020-12-13 10:34] Paulchen-Panther commented on #1083
I am closing this issue because there are no steps to reproduce it.
HDMI grabber tested successfully on HyperBian RPi3 B +.
Proof:
![remote](https://user-images.githubusercontent.com/16664240/102009326-02899a00-3d37-11eb-965c-2d4ab63a32ff.png)
![about](https://user-images.githubusercontent.com/16664240/102009327-04ebf400-3d37-11eb-80c9-79f94cdeb69e.png)

"v4l2-ctl --all" output:
[code]

[2020-12-13 10:34] #1083 closed

[2020-12-13 10:38] Paulchen-Panther commented on #1113
Which LED types for the 3 instances?

[2020-12-13 10:43] Paulchen-Panther commented on #1109
Du kannst auch gerne noch ein PR erstellen, das den Usern hilft Hyperion unter Fedora zu kompilieren (CompileHowto.md).
Vielen dank.

[2020-12-13 10:57] mathman commented on #1113
Leds types : Sk9822

Instance 1 : sk9822 from gpio
Instance 2 : udp raw with esp8266
Instance 3 : udp raw with esp8266

[2020-12-13 11:53] thosoo commented on #1109
Will do

[2020-12-14 03:34] Arthur-Koo commented on #1110
Yes. I've updated the WS2812spi Schema file got the result.

[2020-12-14 03:36] Arthur-Koo commented on #1110
I think that's the reason.

And there may be solutions, right?

[2020-12-14 04:02] maxakuru commented on #1116
update: compiled manually and the bug is not present - seems like HyperBian specific? hopefully this will help someone else!

closing

[2020-12-14 04:02] #1116 closed

[2020-12-14 05:28] penfold42 commented on #1110
Use SPI0
or PWM via the rpi_281x
or an external arduino

[2020-12-14 16:17] Arthur-Koo commented on #1110
But from the wiki <https://github.com/notro/spi-bcm2708/wiki> & <https://elinux.org/RPi_SPI> I cannot get any information that there's no DMA support for SPI1.

[2020-12-14 16:23] ChR-iSz commented on #1110
So, i add a WS2812b on spidev1 (Mosi only) on RPI 4 and only green and blue light works. Red not. I tested with the hyperion NG RGB assist on top right toolbar.

Red is showing white (strange).

[2020-12-14 17:05] ChR-iSz commented on #1110
@Arthur-Koo

Which rate you use in hyperion ng ws2812spi config ?

2857143 ?

[2020-12-14 20:04] nattyebola commented on #1096
same for me, framebuffer screen grabbing type set automatically and doesn't work

[2020-12-14 21:23] penfold42 commented on #1110
This came up here:
https://github.com/jgarff/rpi_ws281x/pull/400
It’s covered in the many 100s page long Broadcom documentation

You only need DMA for WS2812 LEDs
WS2801 should be ok without DMA.

[2020-12-15 03:26] Arthur-Koo commented on #1110
from 3000000 to 4000000

[2020-12-15 03:27] Arthur-Koo commented on #1110
found that sentence for UART

[2020-12-15 05:48] penfold42 commented on #1110
That’s the section.

Can we close this issue now ?

[2020-12-15 10:19] Arthur-Koo commented on #1110
I think so, thanks!

[2020-12-16 12:32] #1110 closed

[2020-12-18 12:01] ChR-iSz commented on #1055
Hi Lord,

Kompiliert mit Bootstrap 4.0.0 und jQuery 3.5.1. Mal sehen, wie groß der Aufwand wird...

<img width="1942" alt="Bildschirmfoto 2020-12-18 um 12 57 09" src="https://user-images.githubusercontent.com/49807897/102612425-f46dbc00-4130-11eb-9ebd-156cb7b36acb.png">

[2020-12-18 13:57] tpmodding commented on #1055
Bootstrap 5 wäre noch besser, dann wären wir richtig up2date! :-)

[2020-12-18 14:34] Lord-Grey commented on #1055
Hi @ChR-iSz
es ist ja super, dass Du Dich der Aktualisierung der Web-Libraries annimmst!
Bootstrap 5 ist ja schon im Beta Stadium. Wenn es nicht Jahre zur offiziellen Verfügbarkeit dauert, bin ich klar dafür zur letzten Version zu migrieren.

Ich versuche gerade auf den jsoneditor-2-5.1 zu migrieren, da es dort neue Möglichkeiten gibt, um die LED-Configs schöner/dynamischer zu gestalten.
Nur falls

[2020-12-18 17:10] ChR-iSz commented on #1055
Hallo @Lord-Grey,

ich werd mir das über die Weihnachtstage mal ansehen, und mich mal detaillierter in dem Code einlesen. Finde das Projekt Hyperion NextGeneration sehr interessant, auch weil ich es selber zu Hause sehr gerne nutze.

Ich denke auch, Bootstrap 5 macht mehr Sinn (trotz BETA State). Das Sidebar Nav Menü müsste eh angepasst werden, da es ab Bootstrap 4 schon zu Änderungen gekommen ist

[2020-12-20 10:53] ChR-iSz commented on #1055
Generell bekommt man das schon relativ zügig umgestellt. Allerdings bin ich mit manchen bisherigen Anordnungen und 'Panel's' nicht ganz zufrieden, wie das umgesetzt wurde. Aber jeder hat natürlich andere Vorstellungen.

Dazu muss ich sagen, das ich eher der strukturierte "Klassiker" Typ bin. Ich würde Page-Title, Page SubTitle, und dann folgend die Panels mit dem Content anzeigen. Aber ich weiß ni

[2020-12-21 07:00] quietsnow commented on #794
I'm having the same issue. I blew away the install because there were a number of other things on that pi -- and started fresh with Hyperbian. Still same issue -- Hyperion works just fine upon boot, for about a minute. Then it loses USB and never regains it.

[2020-12-24 04:15] flexage commented on #1007
Sorry, it looks like I  confirmed this as fixed to soon...

I ended up staying on Alpha 6 for a while as it was the most stable for me, but tonight I have been trying Alpha 9.

I am still getting the last frame of the video effect/color/protobuffer output 'sticking' on my LED's when the source is cleared.

I checked the "Refresh Time" on the LED Device, as you mentioned above, and it was set to 50

[2020-12-25 20:25] testbughub opened #1123 "Alpha 9 .Deb libcec4 dependency?"
- [x] I confirm that this is an issue rather than a question.

## Bug report
I installed the alpha 9 x86_64.deb, and it complains about not finding libcec4.
Seem to be similar to https://github.com/hyperion-project/hyperion.ng/issues/1006, but it was mentioned that a new issue should be posted for alpha 9.

#### Steps to reproduce
[code]

#### What is expected?
I'm assuming it should need libcec6

[2020-12-27 21:21] i7i5 commented on #1123
Same after docker-compile.sh installation, when u try to run hyperiond :)
`./hyperiond: error while loading shared libraries: libcec.so.4: cannot open shared object file: No such file or directory`

[2020-12-27 21:43] Paulchen-Panther commented on #1123
It is fixed. The following two commands are required to install the Hyperion deb file:
sudo dpkg -i /path/to/hyperion_file.deb
sudo apt-get install -f

Why the second command is necessary is described here:
https://unix.stackexchange.com/a/159103

[2020-12-27 21:44] Alootje commented on #1110
Not sure if this is the correct section to post my question, if not, please let me know.
Short question: is the quoted section also apllicable to APA102 LEDs connected to an RPi?

Background info:
Recently my RPi 3B passed away. On this Pi I had OSMC and Hyperion (not NG) running with two separate LED strings. One String behind the TV and one string attached to a secondary light beside the TV (mov

[2020-12-28 05:52] testbughub commented on #1123
I did try that, but when I did, it wanted to remove hyperion altogether.

[2020-12-28 09:56] MichaelAnders commented on #1072
Finally I got the time to check out what calibrations in hyperion would make the LEDs create a similar color compared to what I see on my TV.

tl;dr :
No single RGB gamma works for all colors. For each color (RGBCMYW)

- the RGB gamma value is different
- in the region of 20%-100% brightness, one constant RGB gamma value results in "mostly ok" results
- in the region of 10% brightness requires sig

[2020-12-29 00:58] kolyshkin opened #1125 "[rpm] Requires: libcec4 is incorrect"
- [x] I confirm that this is an issue rather than a question.

## Bug report

Hyperion-2.0.0-alpha.9-Linux-x86_64.rpm requires `libcec4`, but on Fedora 32 the package name is `libcec` (i.e. no `4`).

More to say, rpm is slightly more intelligent than deb in this regard, so `Requires: libcec` is not needed at all.

[code]
#### Steps to reproduce

[code]

[2020-12-29 00:58] kolyshkin commented on #1125
IOW, to fix, `libcec4` should either be changed to `libcec` for RPM, or just removed (since rpmbuild adds a dependency on the library anyway).

[2020-12-29 01:08] kolyshkin commented on #1125
My bad; I see this is already fixed by https://github.com/hyperion-project/hyperion.ng/pull/1108/commits/2b34b79370d992d3c764c4e8681a1970c16877f8

[2020-12-29 01:08] #1125 closed

[2020-12-29 01:43] psychowood opened #1126 "V4L Errors while using DroidCam remotely"
- [x] I confirm that this is an issue rather than a question.

## Bug report
I'm trying to use droidcam (Android application + v4l2loopback device) as an input device for Hyperion NG, but I get some errors.

#### Steps to reproduce
- Install [droidcam for linux](https://www.dev47apps.com/droidcam/linux/)
- Install [droidcam app](https://www.dev47apps.com/)
- Run Android/iOS app, get current IP:POR

[2020-12-30 02:55] mlaurijsse opened #1127 "Tpm2net incorrect calculation of total packet numbers"
- [x] I confirm that this is an issue rather than a question.

## Bug report
When using a tpm2net led device the total number of packets is incorrectly calculated when `Max packet` is chosen such that all packets are equal size (i.e. the last packet size is equal to the `Max packet` size).

The root of the error lies in line 26 of [LedDeviceTpm2net.cpp](https://github.com/hyperion-project/hyperion

[2020-12-30 10:44] Lord-Grey commented on #1127
@mlaurijsse Thanks for reporting.

If you could do a pull request would be very much appreciated.

Thank you!

[2020-12-30 21:20] kolyshkin commented on #1090
I have seen this, too, on a fresh install of HyperBian (with alpha9) on a Raspberry Pi Zero W.

As the original bug reporter, I also saw hyperiond using about 30-40% of CPU and not listening on port 9100 (checked via `ss -lnp4`). I was puzzled as I thought there is something that needs to be done in order to enable web server.

The bug disappeared after one or two reboots.

I will try to repro aga

[2020-12-30 21:29] Paulchen-Panther commented on #1090
@kolyshkin ok

[2020-12-30 22:49] kolyshkin opened #1129 "heap corruption (malloc/free errors) during calibration"
- [x] I confirm that this is an issue rather than a question.

## Bug report

I was calibrating my LED string via web interface and noticed it became unresponsive. Checked system logs and found some messages hinting towards libc heap corruption (see below).

#### Steps to reproduce

Invoke "colour calibration wizard" via web interface. Play with settings.

#### What is expected?

No errors, web in

[2020-12-30 22:49] #1129 closed

[2020-12-30 22:56] kolyshkin commented on #1129
I think I have only removed the issue comments, but oh well let me redo this.

[2020-12-30 23:01] kolyshkin opened #1130 "heap corruption (malloc/free errors) presumably during calibration"
- [x] I confirm that this is an issue rather than a question.

## Bug report

I was calibrating my LED string via web interface and noticed it became unresponsive. Checked system logs and found some messages hinting towards libc heap corruption (see below).

#### Steps to reproduce

Invoke "colour calibration wizard" via web interface. Play with settings.

#### What is expected?

No errors in log,

[2020-12-30 23:10] kolyshkin commented on #1130
So, these messages

suggest heap corruption, while

suggest memory leaks.

[2020-12-31 00:23] kolyshkin commented on #1130
It took about 30 minutes of playing with calibration settings (since a fresh restart) until I got this again:

so it is definitely related to calibration. Note that v4l capture and LED still works, it just does not react to changing calibration settings.

Had to `sudo systemctl restart hyperion` to continue calibration (glad that I wrote done all the values I got so far).

[2020-12-31 09:02] billroemhild opened #1131 "Cannot use custom settings for USB capture when using multiple LED Instances"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce
Configure two LED Instances

#### What is expected?
Use the custom settings for USB capture for each LED instance.

#### What is actually happening?
When I had a single LED instance running I was able to choose which capture device along with the ability to change all settings.  I can still do thi

[2020-12-31 09:16] Paulchen-Panther commented on #1131
![Screenshot_1](https://user-images.githubusercontent.com/16664240/103403643-2fb8b380-4b51-11eb-9917-71c5d59716cb.png)

[2020-12-31 09:19] Paulchen-Panther commented on #1131
That still seems to be a problem in the database / WebUI. Thank you for your feedback

[2020-12-31 10:24] Paulchen-Panther commented on #1126
Please open a feature request. The V4L2 format YU12 is currently not supported. Many Thanks

[2020-12-31 10:24] #1126 closed

[2020-12-31 11:38] billroemhild commented on #1131
Kept hacking on it for a bit.  Found that if I set the capture device to custom and set the device manually to "/dev/video0" for both LED instances, everything works as expected.  So only seeing the issue when selecting the video capture device directly.

[2020-12-31 19:42] unfaceit commented on #1123
I have experienced the same issue.
Raspberry Pi 4b 8Gb + Ubuntu Desktop 20.10.
`libcec6` and `libcec-dev` was installed.
Running `sudo dpkg -i Hyperion-2.0.0-alpha.9-Linux-aarch64.deb` errors out due to missing libcec4:
[code]
Following `sudo apt-get install -f` prompts/ removes Hyperion:
[code]
I ran into the same problem trying to install Hyperion on Raspberry Pi OS 64bit yesterday.
Can we reope

[2020-12-31 20:04] flexage opened #1132 "Alpha 9 - APA102 LED's still fail to clear properly"
- [x] I confirm that this is an issue rather than a question.

## Bug report
I reported an issue previously during Alpha 8 about APA-102 LED's retaining what looked like their last frame when clearing an effect/colour/source (Issue #1007).

Sorry, it looks like I confirmed this as fixed to soon...

I ended up staying on Alpha 6 for a while as it was the most stable for me, but recently I have been

[2021-01-03 01:58] geovannimp commented on #1123
I installed with this commands:

[code]

[2021-01-03 17:27] starkillerOG opened #1135 "adalight LightBerry APA102 - stops working when turned off for+- 10 seconds"
- [x] I confirm that this is an issue rather than a question.

## Bug report
I have a adalight lightberry APA102 led strip that is connected through USB to the RPi 3B.
Yust updated to the latest hyperion ng (coming from old hyperion).

When I boot up the RPi3 everything works fine and the Ambilight works perfect.
When I turn off the APA102 strip through remote -> LED Device ->off  they turn off fi

[2021-01-03 17:42] mathman commented on #1113
This bug work only with color effect.

If i choose "standard" effect the leds work with it.

[2021-01-03 17:47] psychowood opened #1136 "Add Live Video image to LedLayout preview"
## Feature request

#### What problem does this feature solve?

Showing a screenshot/live preview of the captured video in LedLayout preview would easen a lot positioning non-standard led layouts.

#### What does the proposed API look like?

It's probably a frontend-only change.

#### How should this be implemented in your opinion?

Adding a button that changes the background, imposing a static pr

[2021-01-03 18:29] psychowood opened #1137 "LedLayout: allow dragging led corners and/or single leds"
## Feature request

#### What problem does this feature solve?

Handling non-standard Camera grabbers, possibily non linear(fisheye) lenses too.
Partially connected to #1136

#### What does the proposed API look like?

It's a frontend-only change.

#### How should this be implemented in your opinion?

- When dragging a corner led, the whole layout should move. This would simply change the already

[2021-01-04 04:09] kolyshkin commented on #1090
Using a latest (alpha9) hyperbian image under qemu:

[code]

(as you can see from `ss` output, no one listens at pot 8090)

[code]
So, webserver thread is running but is not listening (yet?).

Alas there's no debug info so it's not very clear what is going on.
I will try to recompile it from source with debug info and see what is going on in more details.

[2021-01-04 04:14] kolyshkin commented on #1130
Using mcheck(3) is not an option since it's not compatible with threaded apps.

I tried using valgrind/memcheck in 3 different configuration
1. RasPi Zero CPU. It seems to be too slow for valgrind, all I see is 100% CPU usage and no web server appearing (which might actually be a manifestation of https://github.com/hyperion-project/hyperion.ng/issues/1090).
2. On my Linux PC, self-compiled. I see

[2021-01-05 00:25] jangrewe commented on #626
@tpmodding I have the same issue with a new Vero 4K+ and the alpha.9 release (built from source).
I am using the AMLogic grabber.
When i pause playback in Kodi (and only then), my lights switch on an off in a ~10s interval (5s on, 5s off).
Under Remote Control -> Source Selection, i can see the "System: Platform Capture: (AmLogic)" source disappear and reappear (5s gone, 5s showing).
The slider un

[2021-01-05 15:36] jeffh0821 opened #1138 "WS281B PWM not functional unless hyperiond starts as root"
- [x] I confirm that this is an issue rather than a question.

## Bug report

WS281B PWM not functional unless hyperiond starts as root

#### Steps to reproduce

1. Fresh Raspberry Pi OS (Debian Buster) install
2. RPi DEB install automatically enables/starts service hyperiond@Pi. (awful practice)
3. Configure Hyperion with USB capture and RPi WS2812B PWM LED Hardware
4. WS281B PWM will not initial

[2021-01-05 15:47] RomRider commented on #1135
For me with 2.0.0-alpha9, it just doesn't work at all anymore with adalight (not even the startup effect)
Timeouts on the serial line. Rolling back to 2.0.0-alpha8 and the problem disappears.

[2021-01-05 16:39] starkillerOG commented on #1135
@RomRider Do you use the "LightBerry APA102 Mode" or not?
(I do have the "LightBerry APA102 Mode" checked)

[2021-01-05 16:46] RomRider commented on #1135
Yes, I use it.

[2021-01-05 20:14] Lord-Grey commented on #1135
Does the problem occur, if you set delayAfterConnect = 0?

[2021-01-06 06:03] penfold42 commented on #1138
Suggest not fixing this and just documenting the limitations.
The current behaviour will suit the majority of users.

[2021-01-06 10:14] starkillerOG commented on #1135
@Lord-Grey The problem is there if:
delayAfterConnect = 0 and Refresh time = 1000ms
delayAfterConnect = 100 and Refresh time = 0ms

I did not test yet:
delayAfterConnect = 0 and Refresh time = 0ms

[2021-01-06 13:07] Lord-Grey commented on #1135
@starkillerOG I did test with a standard image of
https://github.com/hyperion-project/hyperion.ng/tree/master/assets/firmware/arduino/adalight
and I cannot reproduce the issue.

Which image are you using, or is this a ready made device?

In the adalight_lightberry_apa102 image, I see that there is a switch-off by the device itself after 15s:

// If no serial data is received for a while, the LEDs

[2021-01-06 14:28] jeffh0821 commented on #1138
I agree, the issue of the rpi_ws281x library not being able to leverage PWM as a non-root user is unlikely to be fixed.

However, I would argue RPi/WS2812b/PWM is used by far more users than you are acknowledging. A compromise should be to DOCUMENT the post-installation steps (service for root if using PWM, service for user if not, disabling audio for RPi users using PWM, enabling SPI for SPI user

[2021-01-06 14:33] Lord-Grey commented on #1138
@jeffh0821 As you seem to be familiar with packages, why do you not create a PR, which includes the questions to allow a user to disable the defaults and drive the configuration?

[2021-01-06 14:42] jeffh0821 commented on #1138
@Lord-Grey I would be happy to look at the cmake scripts and rip out the post-install logic. But as a maintainer, shouldn't you take a position on if this should be done and why?

[2021-01-06 15:06] Lord-Grey commented on #1138
@jeffh0821 As @penfold42 outlined, many hyperion user are not even able to spell Linux.
For them the current way of installation is the most convenient one to be successful.

I appreciate that there are other users which have different setup.
As the current hyperion team has only two developers any support is welcome (hence my suggestion or a PR) ....

Nevertheless, my ask would be not just to "ri

[2021-01-06 15:28] jeffh0821 commented on #1138
@Lord-Grey Any PR I submit would be to bring the Hyperion.ng packages back into compliance with widely-accepted packaging guidelines. This would mean removing the postinst service enablements and RPi config.txt configurations as the current scripts render the application broken under certain typical configurations (RPi and PWM) and enable unnecessary modules (dtparam=spi=on) for those same typical

[2021-01-06 16:02] Paulchen-Panther commented on #1138
We already had this discussion here:
https://github.com/hyperion-project/hyperion.ng/issues/5

If you can think of something better (except root user), please do a PR.

[2021-01-06 16:28] jeffh0821 commented on #1138
@Paulchen-Panther I'm glad there was debate here. Unfortunately root is a real requirement for the rpi_ws281x library when utilizing PWM. @penfold42 acknowledged this in the rpi_ws281x git repo.

Current package DOES NOT and CANNOT WORK for RPi/PWM without reconfiguration of the systemd/Init services.

I think this has been beat to death now. I will not submit a PR that goes against standard pract

[2021-01-06 16:33] starkillerOG commented on #1135
@Lord-Grey This is a ready made device from lightberry: https://lightberry.eu/
although I think they stopped producing and selling.

Therefore I have never put firmware on the little USB to LED strip box...
I am experianced with flashing new firmware on ESP8266 chips but I don't really want to start flashing that USB to LED box since it just worked and was part of a kit I bought.

The 15 seconds s

[2021-01-06 16:34] starkillerOG commented on #1135
This is my config at the moment, but I have been playing around with the settings to see if I could make it work, not sure what the correct settings actually are....
![afbeelding](https://user-images.githubusercontent.com/14811189/103794713-568d5300-5045-11eb-9537-3338ae4e2a1d.png)

[2021-01-06 16:37] Lord-Grey commented on #1132
@flexage You to validate that I got it right, it is Test 3 from #1007 that does not work.
Test1 and Test 2 are ok.
Correct?

[2021-01-06 16:53] Lord-Grey commented on #1105
@Dewi02 Could you share a screenshot on the LED-Device configured?
I assume you have "Rewrite Time = 0"?

[2021-01-06 16:57] Lord-Grey commented on #1135
@starkillerOG Thanks for providing feedback.

I am not asking you to flash a bought device. :-)
I only wanted to check, if it was a custom one. Seems I need to find another way reproducing it...

Latch time is the time-frame a device requires until the next update can be processed.
During that time-frame any updates done are skipped.

[2021-01-06 17:27] Lord-Grey commented on #1135
Do you which lighberry firmware version you have?

In addition, could you set the delay after connect to 6000ms and test again?
It looks like that with later firmware versions there was delay introduced.
I assume that causes the problem that the writes by hyperion fail after reopening...

[2021-01-06 19:51] starkillerOG commented on #1135
@Lord-Grey Thank you so much for your help!
I actually do not know for sure which firmware version I have, but I think the updated one.

But for sure I can update my module with the latest firmware from http://update.lightberry.eu/ if you want?

I am going to test with the 6000ms delay now, will report in a bit!

[2021-01-06 20:12] starkillerOG commented on #1135
@Lord-Grey I just tested with the delay after connect of 6000 ms, unfortunately that did not help.
It took 6 seconds for the device to respond to a turn on (obvious) but besides that the behaviour was the same, fast turn off/on works but if you keep it off to long it stops working.

I now took a timer and started measuring, started the timer when I turned it OFF and stopped it when I turned it bac

[2021-01-06 22:53] felixganzer commented on #884
Hi,
Is it planned to add the deconz zigbee bridge like the hue bridge into the hyperion system?

I have a deconz bridge and testet with the philips hue LEDDevice. The wizard can find my deconz bridge and find all possible lamps. The rest does not work of course.

[2021-01-07 16:09] Lord-Grey commented on #884
@felixganzer Currently, a deconz specific device implementation is not planned.
If the deconz Hue emulation does not work with Hyperion then please provide a debug log and we can have a look where it does break.

[2021-01-07 16:48] Dewi02 commented on #1105
Where can I find that?

[2021-01-07 16:50] Lord-Grey commented on #1105
In the Hyperion UI:
Configuration->LED-Hardware-> Tab LED Controller

[2021-01-07 17:01] Dewi02 commented on #1105
![image](https://user-images.githubusercontent.com/23001695/103921014-41322a80-5112-11eb-9571-1f2767d0360e.png)

There is no "Rewrite Time = 0" tho.

[2021-01-07 17:12] Lord-Grey commented on #1105
Sorry, please enable Expert settings level

![image](https://user-images.githubusercontent.com/48840279/103922348-e6013780-5113-11eb-8ad2-d74052bc6a31.png)

[2021-01-07 17:19] Dewi02 commented on #1105
![image](https://user-images.githubusercontent.com/23001695/103923054-ed751080-5114-11eb-88c0-e5ad2b2e2a62.png)

[2021-01-07 19:52] Lord-Grey commented on #1105
Could you check, if the problem persists when you set a Latchtime? e.g. 30

[2021-01-09 08:55] Foamier opened #1140 "Hyperbian support for HDMI direct input module based on tc358743 on RPI 3/4/zero"
## Feature request
Originally I got introduced to the tc358743 HDMI capture hardware module through the excellent https://pikvm.org/ project.
Here a module with the HDMI to RPI camera port module is used to to remove the need of conversion to analog and usb video capture boards.
Can Hyperbian support the use of this type of card?

Board for RPI3/4 available here:
https://www.aliexpress.com/item/40

[2021-01-09 18:17] c-thiel opened #1141 "Add option to skip first LEDs when setting Layout"
## Feature request

#### What problem does this feature solve?
Currently, there is no option to skip the first LEDs in the Classic Layout. While the Input position can be defined perfectly, the first LED is always 0. However, in my setup the first LED is number ~35, the strip then goes around the TV and closes with LED 265 of 300.

#### What does the proposed API look like?
Not sure what needs to

[2021-01-09 19:52] Lord-Grey commented on #1141
@c-thiel Not sure, if I get the problem space...

If you do a standard config LED 0 is at top left

![image](https://user-images.githubusercontent.com/48840279/104107391-0966e680-52bc-11eb-9f4f-c6840da2cf7b.png)

If for argument sake the LED strip starts at position 5
You configure the "Input Position accordingly"

![image](https://user-images.githubusercontent.com/48840279/104107404-2ef3f000-52bc

[2021-01-10 07:13] penfold42 commented on #1141
I think the OP is wants to skip the first 34 LEDs and have Hyperion set them to black.

[2021-01-10 08:19] Lord-Grey commented on #1141
In summary, the need is to blacklist a certain amount of LEDs which are ignored (being black) while watching TV. For other scenarios all LEDs are used.

@c-thiel In the interim, you can already achieve this via manual configuration

see https://hyperion-project.org/threads/effects-help-sk6812.11102/#post-31411

[2021-01-10 08:27] Paulchen-Panther commented on #1141
Wie wäre es einfach die Startposition auf 5 zu setzten und die HW Led Anzahl auf 265.

[2021-01-10 12:02] starkillerOG commented on #1135
@Lord-Grey I just updated the firmware of the little USB to LED converter box.
I updated to v1.1 APA102USB: http://update.lightberry.eu/download/LightberryHDUSBAPA1021.1_delay.zip

That fixed the problem for me :)
Now it just keeps working also when you turn it off for a longer time.
Not sure which firmware I was running, but probably some old one, I looked at my board and it is from 2015, so quit

[2021-01-10 12:03] starkillerOG commented on #1135
@Lord-Grey Thank you for all your help, you are awesom!
Since the issue was resolved by updating the firmware, I will close this issue.

[2021-01-10 12:03] #1135 closed

[2021-01-10 12:04] Lord-Grey commented on #1135
@starkillerOG Great that it is working now!!!

[2021-01-10 12:23] starkillerOG opened #1142 "Value & saturation gain and threshold"
## Feature request
The old hyperion had a hsv, saturationGain and valueGain
And it also had a threshold that could be set.
The configuration of the old hyperion looked like this:
[code]
The new hyperion ng seems to be missing the valuegain, saturationgain and threshold.
I would like to also see those options in the new hyperion ng.
I noticed that the philips hue Led device does have a valuegain se

[2021-01-10 19:10] kolyshkin commented on #1141
@c-thiel it would be beneficial if you can show us your particular setup.

To rephrase it, do you just use the first 34 LEDs from the strip instead of wire?

[2021-01-10 19:27] kolyshkin commented on #1140
1. There is no need for HDMI to analog conversion device anymore, there are plenty of HDMI capture devices available now (e.g. search for rullz).

2. The hardware you refer to should be supported (as long as its driver implements v4l2, which I'm 99.5% sure). The downside might be that downscaling is done in software, which might make the solution not suitable for low cpu power devices (e.g. Pi Zer

[2021-01-11 00:51] kolyshkin commented on #1130
Ran a self-built debug version under gdb on a Pi 4 model B.

1. Set LED controller to ws2812spi.
2. Set LED layout to 'top: 200, bottom: 200, left: 120, right: 120'.
3. Went to "color calibration wizard" and randomly changed number in white and red light.

Got this in a few minutes:

[code]

[2021-01-11 06:32] LMBernardo opened #1143 "Alpha9 prebuilt binary is broken on Windows 7"
- [x] I confirm that this is an issue rather than a question.

## Bug report
Attempting to launch Hyperion Alpha9 on Windows 7 fails with both the installer and zip versions. All binaries fail to run with the message "The program can't start because api-ms-win-core-path-l1-1-0.dll is missing from your computer."

My understanding is that this library is an internal library that is not meant to be

[2021-01-11 08:28] Lord-Grey commented on #1130
@kolyshkin Thanks for reporting!
Would you mind sharing a screenshot of your LED-Device configuration with Expert Setting level on?
Does the issue occur, if you change the color via the "Remote Control" screen, too?

[2021-01-11 13:41] washcroft opened #1144 "Add "Signal Detection" to platform capture"
## Feature request

"Signal Detection" only exists on USB capture, but there are situations where platform capture could benefit from this where they can also stop providing a video feed, e.g. screensavers, system standby etc...

#### What problem does this feature solve?

Inability to automatically switch to use lower priority "standby" sources such as static colours or effects, when the higher p

[2021-01-11 13:42] #1144 closed

[2021-01-11 13:44] washcroft opened #1145 "Add "Signal Detection" to platform capture"
## Feature request

#### What problem does this feature solve?

"Signal Detection" only exists on USB capture, but there are situations where platform capture could benefit from this where they can also stop providing a video feed, e.g. screensavers, system standby etc...

Adding signal detection will allow automatic switching to use lower priority "standby" sources such as static colours or effec

[2021-01-12 20:56] c-thiel commented on #1141
@Lord-Grey thank you very much for the link, I will check it out at the weekend. It seems to solve my problem perfectly.

@Paulchen-Panther If I set the start-position to 5 the first 4 LEDs will still be lighted. The layout is just rotated. The first LEDs are always assumed to be part of the setup. Using a gap doesn't work either, as I don't want an actual gap to appear in the layout.

@kolyshkin

[2021-01-14 08:35] barbiermathieu91 commented on #954
Hello,
I still have the same problem on a fresh raspberry OS et the Alpha 9.0.

Raspberry 4 2gb

Thank you for the amazing work

[2021-01-14 20:53] Chaphasilor commented on #1141
Just chiming in to say that I would also like to see this implemented.
To summarize the problem again:

Allow us to have hyperion completely ignore not only LEDs at the end of the light strip, but also at the start.
And *ignore* in this case doesn't mean *gap*, but instead "treat them as if they wouldn't exist on the strip".

To clarify another example:
the first ~17 LEDs of my light strip are dan

[2021-01-15 02:11] gerion0 opened #1148 "Color calibration wizard: LEDs do not light up."
- [x] I confirm that this is an issue rather than a question.

## Bug report
When opening the color calibration wizard, Kodi is detected and shows a nice color frame in the next steps. I also get a color chooser in the web interface. but the LEDs do not light up, so the entire setup is kind of useless.

#### Steps to reproduce
1. Go to webinterface
2. Open the color calibration wizard.

#### What

[2021-01-16 15:11] Paulchen-Panther commented on #1141
@c-thiel
In the meantime, to use your setup you can use the following workaround:

An example:
Enter the number of LEDs around your TV in the WebUI.
![70_leds](https://user-images.githubusercontent.com/16664240/104815450-f05aba00-5814-11eb-9b86-a2177ac3842c.png)

Export your config. (Configuration -> General-> Import / Export Configuration)
![export](https://user-images.githubusercontent.com/16664

[2021-01-17 03:05] BurninTurtles commented on #764
I just want to throw this out there. I was able to get some dockerfile (I wish I could find it again) for this running and by docker-compose by using the below elements in the compose file. So a docker setup is totally possible.

`Devices:
    /dev/video0:/dev/video0
    /dev/spidev0.0:/dev/spidev0.0
    /dev/spidev0.1:/dev/spidev0.1`

my only issues were related to my capture device at `video0` w

[2021-01-17 11:03] mkrsn commented on #1013
Same problem here. hyperiond eats ~20% from one core while idling. After disabling the boot effects and restarting hyperion the usage drops to ~2% while idling.

When enabling the boot effects and restarting hyperion the load goes to ~20% again. After disabling the boot effects and restarting again the load drops to ~2%. So it is reproducible, each time i enable boot effects the load steps up to ~

[2021-01-17 13:37] patrick91 opened #1155 "Syntax errors when installing deb"
Hi everyone, just wanted to report this issue I'm getting while installing hyperion via deb.

This is the command I run:

[code]

This is the output I get:

[code]

I'm using https://github.com/guysoft/CustomPiOS to create a custom image for raspberry pi, not sure this helps figuring out the issue

[2021-01-17 13:38] #1155 closed

[2021-01-17 18:17] damnms opened #1156 "usb->serial adapter with coreelec and hyperion.ng possible?"
not sure if this is a feature request or a support question but... i have a FT232R USB UART adapter and a sk9822 LED stripe. thought i can connect the tx/rx from the usb adapter to the stripe. i have that but i dont know how i can now configure hyperion.ng to use that. is there some kind of wiki or irc or any other way to get some support?

[2021-01-17 18:18] damnms commented on #1156
just found hyperion-project.org, sorry ;)

[2021-01-17 18:18] #1156 closed

[2021-01-17 21:28] damnms opened #1157 "sk9822 with waveshare ft232 incompatible"
- [x] I confirm that this is an issue rather than a question.

## Bug report
i use https://www.waveshare.com/ft232-usb-uart-board-type-a.htm on an odroid n2 to connect my sk9822 led stripe.
unfortunately, the led stripe does behave very wierd.
when i power the LEDs on, they turn all on (guess thats programmed inside the LEDs). looks like some kind of rainbow from white to red (i guess thats becaus

[2021-01-18 11:23] damnms commented on #1157
seems like that adapter can only output uart.
just ordered another one that can handle usb->spi, therefore i close this bugreport

[2021-01-18 11:23] #1157 closed

[2021-01-20 19:41] ORippler commented on #1142
I would also love to see something like this !

[2021-01-20 20:15] nicedevil007 opened #1159 "CPU Load on Raspberry Pi 1 > 90%?"
- [x] I confirm that this is an issue rather than a question.

## Bug report
CPU Useage on Raspberry Pi 1 is over 90%
![image](https://user-images.githubusercontent.com/17103076/105229594-799b2500-5b64-11eb-8333-452e21e7a56d.png)

#### Steps to reproduce
type in `htop` into the shell

#### What is expected?
CPU Load under 10%

#### What is actually happening?
LED won't light up to actual screen im

[2021-01-20 20:59] Paulchen-Panther commented on #1159
https://github.com/hyperion-project/hyperion.ng/issues/1013

[2021-01-20 20:59] #1159 closed

[2021-01-21 12:42] PhoneixS opened #1160 "Crop values are checked against decimated resolution"
- [x] I confirm that this is an issue rather than a question.

## Bug report

When you use the "Crop left", "Crop right" options on Platform Capture (at least for X11 and QT) it checks it against the decimated resolution but the grabber uses the full resolution to crop so if you use a decimate value above 1 you can't crop it correctly.

In my case, I have 3 Full HD monitors so I need to crop 1920

[2021-01-21 16:46] fastlorenzo opened #1161 "Missing dependencies (ubuntu 20.04 RPi 3B)"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

Install latest deb release file on clean Ubuntu 20.04.1 (Raspberry Pi 3B)
Start the service.

#### What is expected?

That the service is started.

#### What is actually happening?

Missing the following files:
- libfreetype.so.6:
- libGL.so.1

Can be fixed by installing the following packages: `

[2021-01-21 18:14] CalvinSchwartz commented on #1101
The "Force max brightness"setting in WLED solved the problem, therefore I would recommend to close this issue and may add a short text to the wiki.\
See #1162

[2021-01-23 13:30] Paulchen-Panther commented on #1145
Signal detection was introduced to deactivate sources (e.g. V4L2) that do not send a signal to the OS. Platform capture (e.g. X11, XCB, QT etc) offer other options (e.g. signal handlers, broadcast messages etc) for this. I don't see any logical reason to use signal detection for this. Various signals are already dealt with [under Linux](https://github.com/hyperion-project/hyperion.ng/blob/master/s

[2021-01-23 13:35] Paulchen-Panther commented on #1143
Since Hyperion is still in alpha status, the developers have decided to no longer support Windows 7 (EOL). The notes in the CompileHowto have been adapted.
Thank you for your understanding.

[2021-01-23 13:35] #1143 closed

[2021-01-23 13:38] Paulchen-Panther commented on #1161
Server or Desktop image?

[2021-01-23 20:14] fastlorenzo commented on #1161
server image

[2021-01-24 11:27] Paulchen-Panther commented on #1160
@PhoneixS
Thanks for the bug report.
I fixed the QT grabber in PR #1119. I will submit the fix for the X11 Grabber today.

[2021-01-24 14:32] Paulchen-Panther commented on #943
@Lord-Grey  ❓

[2021-01-24 15:43] Lord-Grey commented on #943
@Paulchen-Panther I closed the issue, as using the correct device win line with the symlink resolved the issue.

[2021-01-24 15:58] Paulchen-Panther commented on #943
Thanks for the explanation 🚀

[2021-01-24 20:11] cmsimike commented on #943
Sorry, maybe I wasn't clear but the symlink does NOT work. At least not when I added info to this ticket. I switched from using the symlinked name to the device name, and that worked, but the symlink (which otherwise is correctly setup using udev rules) still doe not work at the time of that writing.

[2021-01-24 20:29] NL-Splinter opened #1165 "Philips Hue lamps: 'body contains invalid JSON'"
[x] I confirm that this is an issue rather than a question.

I've installed HyperBian on a RPI4, with LED strips and all works very nicely as expected. Today I found out I could connect my Philips Hue hub, and most is working - except my Hue lamps dont 'dance to the music'. So the RGB calibration goes right, sometimes it seems the lamps are doing something, but never as expected like the LED strip

[2021-01-24 20:29] #1165 closed

[2021-01-24 20:41] NL-Splinter opened #1166 "Philips Hue lamps not moving with the image / communication error?"
[x] I confirm that this is an issue rather than a question.

## Bug report

[code]

#### Steps to reproduce
Fully install the philipshue bridge.

#### What is expected?
I expect the same behaviour from the Hue lamp next to the tv as the diy LED strips behind the TV.

#### What is actually happening?
Everything is working fine, except the external Hue lamp doesn't change. It does respond to selecti

[2021-01-24 20:56] Lord-Grey commented on #1166
1. Do you make use of an official Hue Bride or do you use an alternative eg DIYHue?
2. Would you mind sharing the logs where the Hue Bride details are shown?
You might need to disable and the enable the device via the „Remote Control“ UI Page.
Then the info should be at the end of the log.
3. In General, I would suggest to you use the Entertainment API mode rather then the classical one. It is far

[2021-01-24 21:29] NL-Splinter commented on #1166
1. Yes, brand new original Philips.
2. Pffff, will look at this more... I can't find more info then the lines in my initial post. But will keep looking...
3. No, not yet. When I try color calibration, it works. I see my lamps, I can use effects on them also. But I can't figure out why the live image is only getting through to the LEDstrip and not to the Hue lamp.
4. From what I say I need to make

[2021-01-25 20:00] NL-Splinter commented on #1166
I've tried different powersupplies but that wasn't it. Reinstalled Hyperion, and added the Hue bridge step by step. All works as expected! Very nice.

[2021-01-25 20:00] #1166 closed

[2021-01-27 11:58] damnms commented on #1132
i guess i hit the same problem, running a esp32 with WLED which works like a charm, but hyperion has problems talking to the LEDs

[2021-01-27 14:03] andrewpros commented on #1140
Well it supports v4l, do you have the device, nothing more should be needed, it should just work like any other v4l capture device, do u have any issues?

[2021-01-27 15:47] remcotim opened #1167 "Yeelight bulbs (1S) changes brightness, but not color"
Using version 2.0.0-alpha.9

- [x] I confirm that this is an issue rather than a question.

## Bug report
Trying to install Yeelight bulbs (1S) with the wizard does not work as expected.

#### Steps to reproduce
Setup light bulbs with Yeelight App.  Run the yeelight wizard with the IP adresses

#### What is expected?
The yeelights to change color and brightness, with the USB capture

#### What is

[2021-01-27 16:08] remcotim commented on #1167
log:
--
2021-01-27T15:52:24.430Z [hyperiond LEDDEVICE] (DEBUG) (LedDeviceYeelight.cpp:1171:startMusicModeServer()) The music mode server is running at 172.30.33.5:39681
 2021-01-27T15:52:24.437Z [hyperiond LEDDEVICE] (DEBUG) (LedDeviceYeelight.cpp:961:log()) 2|   192.168.2.92| open()              : Successfully opened Yeelight: 192.168.2.92
 2021-01-27T15:52:24.441Z [hyperiond LEDDEVICE] (DEBUG) (

[2021-01-27 16:32] Joeboyc2 commented on #1132
Hi All,

I think i have i similar, possible related issue to this.

My issue manifests itself when the "LED Device" switch if togged off, The LEDs will stay on.
If I switch it back on, I can control the Light again, but the only way to turn them of is to set a black colour

Happy to supply logs if that will help troubleshooting this further

[2021-01-27 19:47] TechVic-1 opened #1168 "Signal detection of a grabbed frame"
## Feature request
Add a feature that works like "Signal detection" but can detect a specific static image ("like a vertically rainbow")

#### What problem does this feature solve?
Fix the issue with some hdmi grabber outputs a static rainbow image when no input is present (TV off).
you can not use Signal detection because of this.

#### What does the proposed API look like?
Maybe an option under

[2021-01-27 19:47] #1168 closed

[2021-01-27 19:50] TechVic-1 opened #1169 "Signal detection of a grabbed frame"
## Feature request
Add a feature that works like "Signal detection" but can detect a specific static image ("like a vertically rainbow")

#### What problem does this feature solve?
Fix the issue with some hdmi grabber outputs a static rainbow image when no input is present (TV off).
you can not use Signal detection because of this.

#### What does the proposed API look like?
Maybe an option under

[2021-01-27 20:36] Foamier commented on #1140
I did get another of these modules, so now need to test if it works on RPi4 2GB with Hyperbian.

The USB devices (standard analogue video capture and HDMI USB grabber as mentioned above) that I used before had a lot more delay, adding to the visible delay between the TV screen and the LED reaction. The module that plugs directly into the camera connector of the RPi is about twice as expensive as a

[2021-01-27 21:29] Lord-Grey commented on #1132
@Joeboyc2 Yes, please.

[2021-01-27 22:04] Joeboyc2 commented on #1132
Hey @Lord-Grey ,
Not much in the logs im afraid :| when toggling the "LED device" switch all i get in the log is as follows:
[code]

[2021-01-28 12:56] stilldazed25 opened #1171 "Instances"
Hello I am using hyperion ng and for some Extra Light Im using wled for instances and Works so far but when I restart the pi  I need every time for my wled instances  start  grabber manual  in remote  control

So every extra added instance need to start manually

Please help me to fix that
Thanks

- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

[2021-01-29 01:21] patriot1889 commented on #1130
I feel this is related to the bug I reported a while ago

https://github.com/hyperion-project/hyperion.ng/issues/1094

I am unable to complete a calibration due to this.

[2021-01-29 08:19] Lord-Grey commented on #1130
@patriot1889 / @kolyshkin  Are you able to reproduce it consistently with alpha9?
I tried to "just click around" via the Wizard (as in the problem descriptions), but was to successful triggering the failure event.
In case there is a sceanrio where you deterministically can create the abort, that would be really helpful....

Would you mind sharing your configuration? Just do an export of the config

[2021-01-29 11:58] d4kine commented on #1142
Me too :)

[2021-01-29 11:58] d4kine commented on #658
Hm I'm really looking forward for this, because the colors are horrible with the WS2801 stripe.

[2021-01-29 21:21] rradar commented on #771
Exactly the problem I have now in the year 2021.

- 2.0.0-alpha.8
- CoreElec
- Kodi 18.9
- Platform: | Amlogic
- Controller type: | wled

Tried with different browsers but no luck...

[2021-01-29 21:27] Paulchen-Panther commented on #771
2.0.0-alpha.8 is not up to date and CoreElec is not supported. Sorry

[2021-01-29 22:05] rradar commented on #771
You are right! And most importantly: The fix for this bug (https://github.com/hyperion-project/hyperion.ng/pull/1044) was merged in the latest release 2.0.0-alpha.9

But works perfectly fine :yum:

[2021-01-30 10:33] fightforlife commented on #943
Same for me. Symlinks seem to not work for hyperion.

udev rule
[code]

working symlink
[code]

hyperion error (alpha9)
[code]

[2021-01-30 11:10] fightforlife commented on #943
@Lord-Grey
I think here is the reason for this error:
https://forum.qt.io/topic/30632/qserialport-and-port-naming-on-linux-centos

`
By design, use of SYMLINK isn't provided (because then it would be necessary to pick up analogs of SYMLINK and for other platforms like Windows, MacOSX). Also it complicates internal implementation.
`

[2021-01-31 05:03] iLLiac4 opened #1176 "Assign device (led hardware) to instance"
Is it possible to assign device to instance.
Lets say that you have Hyperin.ng running as server to be used for android devices with Android grabber for hyperion.
I would lime to have an option to assign a device specifically to specific instance. So not other instances will also be able to use this device.

[2021-01-31 05:03] #1176 closed

[2021-01-31 05:13] iLLiac4 opened #1177 "Assign device (led hardware) to instance"
## Feature request

#### What problem does this feature solve?
Streaming to devices thay you do not want to stream.

#### What does the proposed API look like?

#### How should this be implemented in your opinion?
In the instance add a button to assign a device exclusively to an instance.

#### Are you willing to work on this yourself?

Is it possible to assign device to instance.
Lets say that yo

[2021-01-31 15:33] maeries opened #1178 "Update Delay way too big if set to something other than 0"
**Steps to reproduce**

1. Open the web UI -> Configuration -> Image Processing
2. Under Smoothing click activate
3. Set Update Delay to something other than 0 (e.g. 1)

**Expected Behaviour**

Delay the update of the LEDs by set amount

**Actual Behaviour**

The update of the LEDs gets delayed by 5-10s even when set to 1ms

**Setup**

- Pi 4 with 2GB RAM
- WS2801
- LibreELEC 9.2.6
- Hyperion inst

[2021-01-31 15:33] #1178 closed

[2021-01-31 15:37] maeries opened #1179 "Update Delay way too big if set to something other than 0"
- [x] I confirm that this is an issue rather than a question.

## Bug report
Actual update delay is a couple of seconds when set to something reasonable like 70ms

#### Steps to reproduce

1. Open the web UI -> Configuration -> Image Processing
2. Under Smoothing click activate
3. Set Update Delay to something other than 0 (e.g. 1)

#### What is expected?

Delay the update of the LEDs by set amoun

[2021-02-01 10:20] barthand commented on #1123
I believe this still requires a fix.

Ubuntu 20.10 comes with `libcec6`, while hyperion.ng-alpha-9 seems to still require `libcec4`:

[code]

Yes, installing with `--force-depends` forces it to install properly, but then one is not able to use apt anymore:

[code]

I haven't found any other way than to uninstall Hyperion in order to use `apt` again.

@Paulchen-Panther Can we reopen this issue and

[2021-02-01 11:44] washcroft commented on #1145
Frame buffers provide a great way to get an image stream into hyperion, so perhaps I'm "abusing" that feature that gives me a unique use case. Either way, "blank image / no signal detection" does sound like something that should be part of the core pipeline, rather than embedded within V4L2.

[2021-02-01 14:32] Paulchen-Panther commented on #1145
Feel free to check out the Blackboarder detection, it's implemented in core. So you have a basis. Our priorities are so different right now.

[2021-02-01 15:58] Paulchen-Panther commented on #1169
I am closing this feature request because, the signal detection is working exactly as it should. It searches for a specific color value in a specific area. If this value is persistent for x frames, the respective source (in this case the USB grabber) is switched off.
Searching for an image makes no sense at all. Because a match can not be given 100% (size decimation, image noise etc). I don't even

[2021-02-01 15:58] #1169 closed

[2021-02-01 15:59] #1171 closed

[2021-02-01 16:00] #1177 closed

[2021-02-01 16:47] TechVic-1 commented on #1169
So please explain how you setup "signal detection" for this image?
![Screenshot_20210201-174606_Chrome](https://user-images.githubusercontent.com/21226587/106489934-9533f300-64b5-11eb-8334-d7eb564eaba9.jpg)

[2021-02-01 17:22] Paulchen-Panther commented on #1169
https://github.com/hyperion-project/hyperion.ng/pull/339

[2021-02-01 18:27] Lord-Grey commented on #1169
https://hyperion-project.org/threads/best-way-to-configure-signal-detection-area.10847/#post-28981

[2021-02-02 15:25] Lyr3x opened #1180 "Unable to set pixelformat"
I have a new HDMI USB grabber which support MJPEG 1920x1080@30Hz. However i am unable to set the pixelformat via the UI. Setting the format via v4l2-ctl does not persist as hyperion do overwrite the settings on start. Is there any hidden way to force mjpeg mode?
[code]

[2021-02-02 15:25] #1180 closed

[2021-02-04 01:14] flexage commented on #1132
@Lord-Grey I am very sorry for becoming quiet on this issue, things have been busy.

The problem still persists, I will do my best to document the steps that I am taking that lead to it below, along with some logs.

## Brief LED Hardware Overview
I have 2 Hyperion LED Instances
<img width="1356" alt="Screenshot 2021-02-04 at 1 07 07 am" src="https://user-images.githubusercontent.com/1283019/106830

[2021-02-04 07:30] newkind opened #1182 "Random error - Rs232 SerialPortError: Resource temporarily unavailable"
## Bug report
First of all I'm aware I'm using CoreElec and you most likely will tell me to go to the CE forums and ask there, but I tried and unfortunatelly folks there weren't able to help me. Here's the link to my previous topic in CE forums: https://discourse.coreelec.org/t/amlogicgrabb-stops-working-after-couple-hours-hyperion-ng/13091/11?u=newkind

So I'm using a WS2812B leds connected to th

[2021-02-04 07:31] #1182 closed

[2021-02-04 07:43] newkind opened #1183 "Random error - Rs232 SerialPortError: Resource temporarily unavailable"
- [x] I confirm that this is an issue rather than a question.

## Bug report
First of all I'm aware I'm using CoreElec and you most likely will tell me to go to the CE forums and ask there, but I tried and unfortunatelly folks there weren't able to help me. Here's the link to my previous topic in CE forums: https://discourse.coreelec.org/t/amlogicgrabb-stops-working-after-couple-hours-hyperion-ng/

[2021-02-05 18:16] #1138 closed

[2021-02-05 20:18] Erik9519 commented on #1142
This would be extremely useful. I've noticed on my setup that it tends to be white all the time especially when compared to the setup I had on Prismatik where I had the saturation cranked.

[2021-02-06 10:12] Lord-Grey commented on #1132
@flexage Thank you very much for the detailed explanation and walkthrough of the error scenario.
I can now at minimum explain to why you face the outcome.

If you set a Color effect (via JSON or UI) , only **one** update is send to the LEDs.
Depending on the LEDs they maintain that stable state or hyperion ensures this via refresh timeings.

When you now stream via grabbing, the new feed of update

[2021-02-06 10:28] Lord-Grey commented on #1183
@newkind Try setting the baud rate to 115200.

An Arduino Uno cannot do 500000.

Does that work?

[2021-02-06 10:36] newkind commented on #1183
Yes, it does work and it's looking super nice and fluid. I tried different baudrates under 500000 but the leds were always slow and choppy. The 500000 looks really nice. In the past I also used this baudrate with my older setup and it also worked just fine.

[2021-02-06 10:54] Lord-Grey commented on #1183
The older code was slower and had more delays. That is why it might have been working before.
The real Android Uno can technically only do 115200.
In case your Uno like model can do higher baud-rate, I would suggest you increase the latch-time.
The "Temporarily Available" error is an indication that the board cannot cope with the data volume sent in the configured timeframe.

If it is slow you mig

[2021-02-06 11:01] newkind commented on #1183
Thank you very much for the suggestions! I'll test everything again and let you know the results.

[2021-02-06 13:41] flexage commented on #1132
@Lord-Grey Thank you for the detailed explanation of what is happening under the hood. I can follow what you are saying, and why this is happening.

My only question is, is this desired behaviour?

On the other side of it, after the information you have provided I think I can implement a workaround on my Home Automation platform to reissue the solid colour command after the grabber is disabled. So

[2021-02-06 14:35] Lord-Grey commented on #1132
I would agree that the current presentation, showing a color in the source list and not getting back to it, is counter intuitive.
As I do not have an immediate answer how to solve it, I at minimum wanted to give you and others the background of the behavior....

[2021-02-06 15:57] Paulchen-Panther commented on #1132
@Lord-Grey @flexage
I cannot reproduce this behavior with the LED Device 'File'. So it does not seem to be a fundamental problem with the PriorityMuxer.
The output (Powershell terminal on the left) shows the particular color that should be sent to the connected device. The two terminals on the right, I used to set the color with priority 128 and the proto connection (QT Grabber) with priority 128.

[2021-02-06 20:05] Lord-Grey commented on #1132
@Paulchen-Panther Thanks for the Test.
Let me have a look again.
It might be that the color update is ignored, if the update come within the device’s Latchtime.
And key is that the test is done with smoothing being off.

[2021-02-06 20:17] Joeboyc2 commented on #1132
Hi Guys,
I think another key thing that should be looked in to here is the fact that when toggling the "LED Device" switch, the lights also stay on.

I attempted to look through the code myself as i feel this might be something to do with the power off mechanism, but it really didn't find much :(

[2021-02-06 22:41] cooljimy84 commented on #796
Where did you add environment=DISPLAY=:0 ?

Got this problem on mint mat 20.04

[2021-02-07 21:14] rolandbreedveld opened #1184 "spidev device is often changed after reboot: LED device is disabled"
- [x] I confirm that this is an issue rather than a question.

## Bug report
a lot of times, after a reboot the LED-Strip is disabled
in these cases I have to change /dev/spidev0.0 to /dev/spidev0.1 or the opposite way.
I have a WS2801 LED-strip.

#### Steps to reproduce

#### What is expected?
Is there a way to make the spidev device persistent? Like with a udev rule or something like that, other

[2021-02-07 22:03] corus87 commented on #1148
@gerion0 I had the same problem, turned out it was because I had Hyperion-Control installed and configured to only activate Hyperion if a video or music is played.
After activating all components in Hyperion-Control, the wizard was working.

[2021-02-10 03:54] boardwarp opened #1185 "Android Grabber > Yeelight non-responsive"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce
Begin with a clean installation of Hyperion
Configure Yeelight hardware
- Rainbow effect shows on bulb
Configure Android grabber on Google TV w/ Chromecast
- Screen video is visible in Hyperion UI
Play video on Google TV

#### What is expected?
The Yeelight colour changes to reflect the screen

##

[2021-02-10 06:08] Lord-Grey commented on #1185
@boardwarp would you mind sharing the log output, please? In the UI
System->Log

[2021-02-10 21:31] Lord-Grey commented on #1130
[code]

[2021-02-10 21:32] Lord-Grey commented on #1130
[code]

[2021-02-10 21:34] Lord-Grey commented on #1130
@patriot1889 / @kolyshkin Do you have "Smoothing" on or off when running into this problem?

[2021-02-10 21:40] Lord-Grey commented on #1130
Smoothing off, FileDevice with 5000 HW LEDs,Using Calibration Wizard
[code]

[2021-02-10 21:55] patriot1889 commented on #1130
Smoothing on I believe, 90 LEDs total.

I will endeavour to get a log over tomorrow! Sorry for the massive delay.

[2021-02-11 02:03] kolyshkin commented on #1130
Yes.

Sometimes it takes a few minutes, sometimes you have to keep changing the color values for half an hour.

Here you are:
[Hyperion-2.0.0-alpha.9-Backup (My Hyperion Config) 2021.02.10.json.txt](https://github.com/hyperion-project/hyperion.ng/files/5962811/Hyperion-2.0.0-alpha.9-Backup.My.Hyperion.Config.2021.02.10.json.txt)

[2021-02-11 02:06] kolyshkin commented on #1130
Smoothing on, Total LEDs: 226

[2021-02-11 18:45] #1131 closed

[2021-02-11 22:21] danielbayley80 commented on #1094
Im seeing the same,
 HyperBian
 Pi 3 A+

 requires me to force it on and off to recover.

[2021-02-14 09:06] Paulchen-Panther commented on #1184
https://www.google.com/amp/s/blog.stabel.family/raspberry-pi-4-multiple-spis-and-the-device-tree/amp/

[2021-02-14 09:06] #1184 closed

[2021-02-14 10:10] Paulchen-Panther commented on #1123
The bug fix has been in the master since [December 27, 2020](https://github.com/hyperion-project/hyperion.ng/issues/1123#issuecomment-751519429).
Proof: https://prnt.sc/zgp74o

[2021-02-14 10:10] #1123 closed

[2021-02-14 15:11] Foamier commented on #1140
So I installed the latest Hyperbian on a RPI4 2GB this weekend. Strip of WS2812B and level shifter on GPIO18 works well.

Still had a HDMI USB capture stick from the pikvm project, so tried that first.
(this device seems to be the same as the above mentioned from here:
[https://nl.aliexpress.com/item/4000917130635.html](https://nl.aliexpress.com/item/4000917130635.html))

Setup:
Source @ 1080p50 -

[2021-02-14 16:39] Lord-Grey commented on #1140
@Foamier we are currently working on a feature that the user can select from the options a grabber presents.
That hopefully will help to avoid misconfigurations going forward...

Interim state you can find in the following PR
https://github.com/hyperion-project/hyperion.ng/pull/1119

[2021-02-15 00:13] bgberk commented on #943
@fightforlife Do you know which files need to be changed to implement this? As it stands, it’s impossible to use Hyperion on a Pi that has any other USB peripherals and needs to be shut down, as the numbering is inconsistent.

[2021-02-15 17:13] Lord-Grey commented on #943
In case you are going to issue a PR with changes (which would be appreciated), please take care that it works in context of [PR1164](https://github.com/hyperion-project/hyperion.ng/pull/1164) too.

Thank you!

[2021-02-15 19:57] Lord-Grey opened #1189 "Component status for global objects is not synched across instances"
- [x] I confirm that this is an issue rather than a question.

## Bug report

Component status for global objects is not synchronised across instances.

#### Steps to reproduce

1. Configure two instances
2. Add an USB Grabber
3. Restart hyperion and verify grabber is running
4. Disable USB-Grabber in Instance 2
5. Check USB Grabber status in instance 1

#### What is expected?

USB-Grabber is off

[2021-02-16 01:33] SmartHbdev commented on #1104
Same bug for me with latest alpha 9 i just have compiled. It works fine maybe 1 minute and colors no more match on a video test. A sort of lag. Colors just stay in previous state, no  more move, shut down some seconds and restart fine. All this in a loop of 1-2 minutes or less.

It works fine with windows 10.

My setup is:
Arduino nano baud rate 500000, Sk9822, macos big sur, 4k screen

Let me kno

[2021-02-18 01:26] Guyohms opened #1190 "Windows : Cannot change display with DirectX9 Screen Capture"
- [x] I confirm that this is an issue rather than a question.

## Bug report
Using Hyperion for Windows, I can configure monitor 1 using QT but not using DirectX9. Only display 0 is used.

#### Steps to reproduce
- Setup a platform capture using `Type`: QT and `Display`: 1 on a multimonitor setup : The preview will show monitor 1.
- Change to `Type`: DirectX9 : The preview will show monitor 0.

Ch

[2021-02-20 11:11] Unkn0wn-MDCLXIV opened #1192 "SPI failed to write. errno: 110, Connection timed out"
- [x] I confirm that this is an issue rather than a question.

## Bug report
My hyperion.ng setup was working fine for month. From one day to the next the hyperion suddenly stops working.
The LEDs light up, but stay static. When I disable and enable hyperion via the webinterface, the LEDs get updated once and stay static.
Updating to the latest version or compiling from source did not change a thi

[2021-02-20 15:40] Lord-Grey commented on #1192
@Unkn0wn-MDCLXIV I would suggest that you follow up on the error that is given to you. There seems to be a problem with SPI.
This is not a bug, but something on your system.

[2021-02-20 15:40] #1192 closed

[2021-02-20 22:32] flexage commented on #1132
@Paulchen-Panther thank you for investigating this issue against the file device, your findings confirmed the behaviour I was expecting to see, namely that when taking away a higher priority source, it will return to a lesser priority source, if one is active.

@Lord-Grey Did your investigations around the Color Update and Device Latchtime reveal anything?

Are there any steps I can take on my end

[2021-02-21 13:54] vbier commented on #839
With the current version, the web interface still works after activating the pi camera using raspi-config. But I am not able to use the camera with hyperion.ng, regardless of the settings. The live preview does not show an image at all.

As a workaround, I have started raspivid on my PI with a full screen preview and use the DispmanX grabber to grab the preview instead of directly capturing from t

[2021-02-22 18:18] #620 closed

[2021-02-22 21:44] Lord-Grey commented on #1185
@boardwarp Any updates? Otherwise I assume the issue does not exist any longer?

[2021-02-22 21:45] Lord-Grey commented on #1183
@newkind Any update?

[2021-02-22 21:52] Lord-Grey commented on #1167
Did you test the Bulb ("Identify") when configuring with the wizard?
The Errors in the log indicate that there is a network problem that the device cannot be reached....

[2021-02-22 22:07] Lord-Grey commented on #1148
@gerion0 Did you validate that your LEDs are working in general and your LED-Layout is accurate?
Before you start calibrating, you must have a working setup.

[2021-02-22 22:14] Lord-Grey commented on #1102
@YannikW If you save the grabber configuration on the default instance and then restart hyperion?
Do both instances work afterwards?

[2021-02-23 07:15] newkind commented on #1183
@Lord-Grey I'm sorry but last days has been crazy (we got a new puppy) so I wasn't able to do any testing, but today I'll be doing all changes to the configuration and the arduino sketch. It might take couple hours to see if the Hyperion.ng still breaks.

Please give me couple more hours and I'll surely get back to you with an update!

[2021-02-23 07:51] Lord-Grey commented on #1183
@newkind No worries. Take your time! I only wanted to check, if the issues still persist....

[2021-02-23 13:25] #882 closed

[2021-02-23 19:37] #1190 closed

[2021-02-23 19:38] #1013 closed

[2021-02-23 19:42] #1127 closed

[2021-02-23 22:03] gerion0 commented on #1148
Yes, my LED-Layout is working.

I have digged in the code a little bit more and within the JS code the LEDs aren't activated. I assume that the LEDs should be activated by the normal screen grabbing mechanism, when the picture is shown by Kodi. However, that does not work with the standard Kodi addon.

What works:
1. Light up the LEDs in whatever way (e.g. by activating color red in the webinterfa

[2021-02-26 11:41] JeedHome44 opened #1193 "No start capture automatic in boot"
## Feature request

 I need no capture when I boot Primtux. How to no do automatic start capture screen when I turn on my Raspberry?

And how can I start or stop capture with ssh?

Thanks

#### What problem does this feature solve?

#### What does the proposed API look like?

#### How should this be implemented in your opinion?

#### Are you willing to work on this yourself?

[2021-02-26 14:46] newkind commented on #1183
@Lord-Grey Sorry it took so long to get back to you.

So I did play with the configuration and Arduino sketches today and my findings are:

1) I wasn't able to achieve the smooth results on baud rate 115200 - I played with the capture width and height, latch time, refresh rate
2) On baud rate 500 000 - everythings super smooth on latch time 30ms (my current configuration), but anything above that

[2021-02-28 11:31] newkind commented on #1183
Update: So changing to the Atmel powered Uno R3 didn't help. However I noticed one more thing - the Atmel version of Uno R3 allows me to set baudrate to 460800 - something that non-Atmel version didn't allow, so I'm going to try it. The non Atmel version allowed me only 115200 or 500000, 460800 didn't worked for some reason.

I'll come with more updates later.

[2021-02-28 18:27] Paulchen-Panther commented on #1193
https://hyperion-project.org/

[2021-02-28 18:27] #1193 closed

[2021-02-28 19:09] newkind commented on #1183
So it looks like this didn't change anything - I even think that the device is crashing much faster when using ttyACM0.

Latest log: https://pastebin.com/raw/L4pPQPNN

This time it took only about 5 minutes in idle to prevent device from working.

Right now I'll switch the baudrate to 115200 (just for testing as it's unusable) to see if it'll still crash. I'll come back with new log.

[2021-03-01 13:17] newkind commented on #1183
One more update - setting baudrate to 115200 also doesn't solve it.

Here is the new log: https://paste.kodi.tv/eduxarocev.kodi

Relevant part:
`
2021-03-01T14:11:29.336 hyperiond HYPERION     : <DEBUG> PriorityMuxer.cpp:161:registerInput() | Register new input 'System/GRABBER' with priority 250 as inactive
2021-03-01T14:11:29.336 hyperiond COMPONENTREG : <DEBUG> ComponentRegister.cpp:36:setNewCom

[2021-03-01 20:43] Lord-Grey commented on #1183
@newkind Just to see, if something is in the system log, could you do me an extract for the 28.02.2021 and 01.03.2021, please?

`journalctl --since "2021-02-28" --until "2021-02-28 21:00"`
`journalctl --since "2021-03-01" --until "2021-03-01 17:00"`

[2021-03-01 20:44] Lord-Grey commented on #1183
As you seem to use CoreElec, do you use the Suspend/Resume feature?

[2021-03-01 20:55] newkind commented on #1183
@Lord-Grey Both of CoreElec devices are constantly up/awake - I do not put any of these devices under suspend/sleep.

I'm not sure if I do something wrong but both of these commands output only `~` :

[code]

[2021-03-02 06:44] Lord-Grey commented on #1183
@newkind Could you do a

`journalctl --since "2021-02-28" --until now`

or alternatively, if the error occurs

`journalctl --since "2 hours ago"`

[2021-03-02 06:59] newkind commented on #1183
@Lord-Grey Sure! Here's the log: http://ix.io/2RnY

[2021-03-02 07:21] Lord-Grey commented on #1183
@newkind Thank you. At minimum there seems to be some indication in the Log:

[code]

[2021-03-02 07:24] newkind commented on #1183
@Lord-Grey So as suspected the device turns of the usb hub internally right? If that's the case then I'll take this topic to the CE forums and ask for advice there.

[2021-03-02 07:27] Lord-Grey commented on #1183
@newkind In addition, I am going to check, if I just could ignore the error and do the next write or if I need to reopen the USB device.... to make the hyperion more robust for such a scenario....

[2021-03-02 07:29] newkind commented on #1183
That would be awesome! Thank you!

[2021-03-02 18:12] patriot1889 commented on #1094
I have tried out the project "HyperHDR", as it claims to have a lower latency and capable of using more of the pi processing power due to being multithreaded.

Anyway, HyperHDR also had this issue as it is based on Hyperion.ng - until the newest release. v15, from around 23 hours ago fixes this problem completely! It might be worth taking a look to see what the dev has changed?

"Fixes: better ins

[2021-03-02 18:15] patriot1889 commented on #1130
Please see https://github.com/hyperion-project/hyperion.ng/issues/1094#issuecomment-789107004

It seems this issue has been fixed, at least for me, in a fork called HyperHDR.

[2021-03-02 19:15] #1094 closed

[2021-03-03 10:34] newkind commented on #1183
@Lord-Grey Just coming back to you with another update. I took the kernel issue to the CoreElec forums and `vpeter` checked that this kernel code has such description:

[code]

After that I replaced the usb cable that I have been using and I haven't noticed any crashes since then (almost 24h)!
Even though the cable I was using works, it's so badly shielded that it caused the EM interference and th

[2021-03-03 12:56] newkind opened #1196 ""Reverse Direction" not respected in Kodi menu/pictures."
- [x] I confirm that this is an issue rather than a question.

## Bug report
I noticed that when "Reverse direction" is enabled in the LED Layout settings the colors in the Kodi menu and Kodi pictures are not respecting this setting. Playing any video from any source is fine and colors are proper, just not in the menu and pictures.

**When playing video:**

![Hyperion Video](https://discourse.core

[2021-03-03 19:44] Lord-Grey commented on #1196
@newkind Would you mind sharing a screenshot of the LED-Visualisation preview with
LED-Numbers, Live-Video and Show LED on, please?

So similar to:

![image](https://user-images.githubusercontent.com/48840279/109862787-2509c000-7c61-11eb-9861-0b00e8a4ebc5.png)

[2021-03-03 21:43] newkind commented on #1196
@Lord-Grey Sure! Some interesting findings there:

Kodi menu (I'm using default skin with default color scheme) - the colors are inverted. Netflix logo is blue, Twitch logo is red.

![Kodi Menu](https://i.imgur.com/iDbOyPC.png)

RGB picture - appears proper in web view but when viewed on TV - it's mirrored. Just like on the photo in my initial report.

![Kodi Picture](https://i.imgur.com/ZbygHud.p

[2021-03-04 07:45] Lord-Grey commented on #1196
@newkind I would suggest you check/fix on the Kodi/Netflix color issues first and then revisit hyperion.

[2021-03-04 07:51] newkind commented on #1196
@Lord-Grey By colors in Netflix - I meant LED colors, not the picture itself ;)

To be honest i think that the cause of this is most likely the Netflix addon and the fact that it uses software decoding which often lags videos enough that I barely use Netflix on this Kodi box. It doesn't bother me at all. Besides all colors on all other videos are proper so I'd say that's the most important thing.

[2021-03-04 09:37] Suspect-byte opened #1200 "WebOS for lg screen capture?"
## Feature request

#### What problem does this feature solve?
Screen capture for smart tv of LG. Extract screen capture from tv's for hyperion. No need for external device but just plain use of smart tv.
#### What does the proposed API look like?

#### How should this be implemented in your opinion?
I dont know if it is hard to get in the LG content store but maybe an app right there or hack the

[2021-03-04 10:03] newkind commented on #1183
Everything still works fine, so I can confirm that the issue was the poor cable shielding causing interference and linux kernel disabling the usb internal hub port because of the EM interference.

One more time thank you @Lord-Grey for your support.

[2021-03-04 10:03] #1183 closed

[2021-03-04 11:31] tpmodding commented on #1200
This is not possible, i'm sorry. I will close this "issue"

[2021-03-04 11:31] #1200 closed

[2021-03-04 16:24] otmpp opened #1201 "Not all MKV files work"
- [x] I confirm that this is an issue rather than a question.

## Bug report
No h.625 files work with hyperion, completely no control of the led, even manual

#### Steps to reproduce
Play files through Plex Kodi connect through osmc

#### What is expected?
For everything to synchronise

#### What is actually happening?
LEDs completely unresponsive

#### System

Hyperion Server:
- Build:

[2021-03-05 15:46] xxxjasonj2xxx opened #1202 "Ubuntu Mate raspberrypi 4. libcec4"
- [x] I confirm that this is an issue rather than a question.

## Bug report
At install of Hyperion on Ubuntu Mate 20.10
(
#### Steps to reproduce
Fresh Ubuntu mate installation and try install Hyperion  2.0. 0 apha9 linux-x86_64.deb

#### What is expected?

#### What is actually happening?
The terminal says it needs libcec4 but can't install

I already tryed to install ist with sudo apt install -

[2021-03-06 20:32] DavideVito opened #1203 "hyperiond[599]: Can't open /dev/mem: Permission denied"
Cannot turn on led ws281x attached on GPIO, this error is thrown:

`hyperiond[599]: Can't open /dev/mem: Permission denied`

#### Steps to reproduce

Download and Install through [this guide](https://docs.hyperion-project.org/en/user/Installation.html#install-hyperion-2)

Turn on the `LED device` in the Remote Configuration Page

Run `sudo service hyperiond@pi status`

#### What is expected?

To t

[2021-03-06 20:32] #1203 closed

[2021-03-07 11:53] Lord-Grey commented on #1202
Duplicate issue

The bug fix has been in the master/main since December 27, 2020.
Fix will be available with the next release.

[2021-03-07 11:53] #1202 closed

[2021-03-07 11:57] Lord-Grey commented on #1201
Hyperion just presents what is executed via Kodi,; it is independent of video formats (like MKV).
Please have a look how you configured Kodi and ensure that everything works there first.

[2021-03-07 11:57] #1201 closed

[2021-03-07 12:01] unformatted opened #1205 "RPi4 Arch Linux ARM hyperiond.service error after upgrading to Kodi 19"
- [x] I confirm that this is an issue rather than a question.

## Bug report
After upgrading RPi4 running arch linux armv7l and kodi 18.9 to kodi 19, hyperiond.service cannot be started anymore.

#### Steps to reproduce
From terminal:
$ systemctl start hyperiond.service
$ systemctl status hyperiond.service
● hyperiond.service - Hyperion ambient light systemd service
     Loaded: loaded (/usr/lib/s

[2021-03-07 12:30] GenuineJakob opened #1206 "Colour calibration wizard not working"
`[hyperiond WEBSOCKET] (WARNING) Incorrect adjustment identifier: Test1`
`[hyperiond WEBSOCKET] (WARNING) Incorrect adjustment identifier: default1`

My LEDs do not light up when I open the colour calibration wizard.
I tried it with different profile names but I can't get it working.

HyperBian 2.0.0-alpha.9 with WLED

[2021-03-07 12:30] #1206 closed

[2021-03-07 12:37] GenuineJakob opened #1207 "Colour calibration wizard doesn't light up LEDs"
- [x] I confirm that this is an issue rather than a question.

## Bug report
The colour configuration wizard does not light up any LEDs.

#### What is actually happening?
LEDs do not light up and in the log, I found following message:
`[hyperiond WEBSOCKET] (WARNING) Incorrect adjustment identifier: Test1`
`[hyperiond WEBSOCKET] (WARNING) Incorrect adjustment identifier: default1`

#### System
Hyp

[2021-03-07 21:17] nrpetonr opened #1209 "Alpha 9 .Deb libcec4 dependency on Ubuntu 20.10 Server"
I installed the alpha 9 aarch64.deb, and it complains about not finding libcec4.
Seem to be similar to #1123 , which was already closed, but i reproduce the problem again.

Commands that are supposed fix it, do not work in my case.
sudo dpkg -i /path/to/hyperion_file.deb      installs hyperion claimiming missing dependencies.
sudo apt-get install -f        actually uninstalls hyperion

- [x] I con

[2021-03-12 11:14] unformatted commented on #1205
Just updated to the latest hyperion.ng-git r2190.48240bbd-1, removed python-patch-ng and now its working.

[2021-03-12 11:14] #1205 closed

[2021-03-12 11:17] tefracky commented on #983
Hey,
is there anything new on it? I tested it and it is still not working.

[2021-03-12 13:30] dilruacs opened #1213 "Hyperion-project.org website and wiki missing"
- [x] I confirm that this is an issue rather than a question.

## Bug report
The contents of the hyperion-project.org website, the wiki and the forum seems to be missing.

#### Steps to reproduce
Open https://wiki.hyperion-project.org/ in a browser

#### What is expected?
The project wiki

#### What is actually happening?
It displays a "Plesk" default web site

#### System

[2021-03-12 14:32] Paulchen-Panther commented on #1213
https://hyperion-project.org
https://docs.hyperion-project.org/

[2021-03-12 14:32] #1213 closed

[2021-03-12 20:04] dilruacs commented on #1213
Thanks! Good news that a new website is available. I appreciate the work.

The problem is that quite a lot of google search results and posts within the forum itself find links in the "old" format:
e.g.: https://hyperion-project.org/threads/mein-4k-setup-rp4-und-hyperion-ng.11142/page-8#post-34107
Whereas the "new" format looks like:
https://hyperion-project.org/forum/index.php?thread/11142-mein-4

[2021-03-12 20:13] Paulchen-Panther commented on #1213
Our webmaster @tpmodding  can give you more information about this.

[2021-03-13 03:16] tpmodding commented on #1213
added the wiki cname, thanks

will have a look for rewrite, @Paulchen-Panther did mentioned allready the problem with the old urls, it is on my list :-)

[2021-03-14 14:02] aasimenator opened #1214 "Error building Docker image for Hyperion.NG"
- [x] I confirm that this is an issue rather than a question.

## Bug report
I followed the guide available [here ](https://github.com/hyperion-project/hyperion.ng/blob/master/CompileHowto.md)to create a Hyperion docker image on my HP 600 G2 Tiny running Debian with HomeAssistant, AdGuard and Portainer, I ran the following command :
`wget -qN https://raw.github.com/hyperion-project/hyperion.ng/mas

[2021-03-14 22:33] robertalexa opened #1215 "Can't SSH or Web UI while in use"
- [x] I confirm that this is an issue rather than a question.

I would appreciate any feedback. There is nothing else running on the Rpi.

## Bug report
While Hyperion is in use, e.g. LEDs are working, in my case from a HDMI USB Grabber, I am unable to SSH into the RPI zero nor access the Web UI. If i turn the TV off, and LEDs go off, i can do both without issues.

#### Steps to reproduce
I have t

[2021-03-14 23:16] accessone67 commented on #983
Wold also like to use this in kodi 19 with libreelec. any updates? :/

[2021-03-16 07:21] Cosmicbase opened #1216 "Clear All occasionally does not work"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce
When I send a color or effect via the Hyperion app or ioBroker hyperion_ng, the LEDs come on.  Then I delete the colors and effects.  They are also no longer visible in the remote control, but the LEDs remain on.
 Only when I stop the Hyperion Service with "sudo systemctl stop hyperiond@pi.service

[2021-03-17 12:55] Cosmicbase opened #1217 "Deactivation of instance(s) - components continue (s)"
- [x] I confirm that this is an issue rather than a question.

## Bug report
If I deactivate an instance in the WebGui, the component "hardware-recording" continues, for example.
This is bad because otherwise the USB 3.0 grabber will continue to run and use up resources.

#### Steps to reproduce
If I deactivate an instance in the WebGui or by remote command, the hardware-recording continues under

[2021-03-19 21:52] #1101 closed

[2021-03-19 22:31] xonestonex opened #1218 "V4l2 Grabber delay in combination with AMLogic platform grabber"
- [x] I confirm that this is an issue rather than a question.

## Bug report
When using a V4L2 Grabber (stk1160 driver) in combination with the AMLogic platform grabber (Odroid-C4), there is a 1-2 sec delay in image processing of the V4L2 Grabber. There is no delay when only the Framebuffer platform grabber is enabled. But this also disables effects for movies played with the amlogic video acceler

[2021-03-19 22:35] xonestonex opened #1219 "hyperion-aml external grabber binary not working"
- [x] I confirm that this is an issue rather than a question.

## Bug report
The external hyperion-aml AMLogic grabber is not sending any data to the hyperion server.

#### Steps to reproduce
Use the external hyperion-aml grabber.

#### What is expected?
Image frames are processed in the hyperion server instance.

#### What is actually happening?
The grabber seams to connect to the hyperion server

[2021-03-19 22:44] xonestonex opened #1220 "No signal detection if size decimation parameter is used in external V4L2 grabber"
- [x] I confirm that this is an issue rather than a question.

## Bug report
When the -s or --size-decimator argument is used for the hyperion-v4l2 external grabber, then the signal detection is not working.
The --size-decimator and the --signal-detection-disabled share the same short option name -s. I assume that if the -s or --size-decimator argument is passed to the binary, that also --signal-d

[2021-03-20 07:51] Tonio16 commented on #1135
Hello Starkiller

Would wou mind to share your conf for the usb grabber. I didn’t succeed to have an equivalent of hyperion with hyperion.ng and my lightberry.

Tx

Antojne

[2021-03-21 12:02] starkillerOG commented on #1135
@Tonio16 here is my config:
![1](https://user-images.githubusercontent.com/14811189/111904149-97421900-8a45-11eb-8980-448a178937bb.PNG)
![2](https://user-images.githubusercontent.com/14811189/111904147-96a98280-8a45-11eb-86de-b9d3922981cd.PNG)

[2021-03-21 17:03] Tonio16 commented on #1135
Thanks a lot.

Antoine

[2021-03-22 10:30] samuele2723 commented on #1140
Hello everyone, i am followi this because i want as well a 0 delay setup (currently i have a usb grabber stick that works out of the box).

Perhaps is there any more powerful usb grabber card available to get a 0 delay ambilight from hyperion?

[2021-03-23 19:34] Whisprin commented on #1096
I gave this a try:

Using [pyscreenshot](https://github.com/ponty/pyscreenshot) I'm able to take screenshots under Wayland (Gnome 3) without any user interaction.
Then I'm sending these screenshots to Hyperion using `hyperion-remote -i fullscreen.png`.

Of course this is very hacky and performance is horrible but it means that all necessary APIs already exist today.
So I think it should be possibl

[2021-03-23 20:53] JSAnyone commented on #1029
I have the same error on Rpi4 at 44%. Any ideas how to solve this?

`...
[ 42%] Building CXX object dependencies/external/flatbuffers/CMakeFiles/flatc.dir/src/idl_gen_rust.cpp.o
[ 42%] Built target hyperion_autogen
[ 42%] Building CXX object dependencies/external/flatbuffers/CMakeFiles/flatc.dir/src/idl_gen_fbs.cpp.o
[ 42%] Building CXX object dependencies/external/flatbuffers/CMakeFiles/flatc.dir

[2021-03-24 18:33] JSAnyone commented on #1214
Have the same error (`make: *** [Makefile:152: all] Error 2`) on docker install but also when trying a "normal" installation, so I think it isn't something docker-specific.
I already tried different OS (Debian, Ubuntu and Raspberry Pi OS) but the error is always the same. Since this RPI4 is my only Raspi I can't test it on another one.

[2021-03-24 19:41] Lord-Grey commented on #1214
Could you have a look if the following PR will fix the compile issue?

The issue is in a component hyperion uses and not Hyperion itself.

https://github.com/ARMmbed/mbedtls/pull/4237/commits/2065a8d8af27c6cb1e40c9462b5933336dca7434

[2021-03-24 20:48] JSAnyone commented on #1214
Did you mean me? I wasn't sure how I should test it. I tried it with installing `sudo apt-get install libmbedtls-dev`. Now the installation runs to 50%:

[code]

[2021-03-26 17:38] JSAnyone commented on #1214
Hi,
I now „solved“ this issue for me with just installing the last pre-compiled release. I wasn’t aware that this possibility even exists. But of course this isn‘t the perfect solution, since the last release now is almost half a year old.
I think it’s easier to debug when you try to reproduce the issue yourself since it isn't something very special:
1. Install clean Raspberry Pi OS Lite on a **Ra

[2021-03-27 13:47] Paulchen-Panther commented on #1214
@aasimenator @JSAnyone
The problem is due to the current mbedtls v2.26.
An [Issue ](https://github.com/ARMmbed/mbedtls/issues/4233)and a [PR](https://github.com/ARMmbed/mbedtls/pull/4237) are already present. In the meantime we will [temporarily reset mbedtls to version 2.25](https://github.com/hyperion-project/hyperion.ng/commit/dc0e953c40fd46ebc20f90a1c69d35a01225e5ec) for you. If the bug is fix

[2021-03-27 14:10] Lord-Grey commented on #919
Should be fixed by #1199

[2021-03-27 14:10] #919 closed

[2021-03-27 14:17] #772 closed

[2021-03-27 17:07] JSAnyone commented on #1214
Thanks, now it works!

[2021-03-27 18:41] Paulchen-Panther commented on #1214
Then I'll close here for now. Should something not work again what has to do with this topic, just open again.

[2021-03-27 18:41] #1214 closed

[2021-03-27 19:55] bloomberg21 commented on #1169
This link is posted many times in many different threads throughout this project but results in 404 and 500 errors.

Any way to correct the link so it produces the intended result?

[2021-03-27 20:02] Paulchen-Panther commented on #1169
Yes. https://hyperion-project.org/forum/index.php?thread/10847-best-way-to-configure-signal-detection-area/

[2021-03-27 20:25] bloomberg21 commented on #1169
Thanks @Paulchen-Panther .... appreciated

[2021-04-01 18:55] xtools-at opened #1224 "allow custom SPI-path"
## Feature request

#### What problem does this feature solve?
Controlling leds which are not connected to spidev0.0 or spidev0.1. I've fried the SPI0 pin on my RPi0 and need to use _/dev/spidev1.0_ , but can't - just recently updated from old Hyperion, and this is biting me in the ass now :(

#### What does the proposed API look like?
add a "Custom" option to Configuration > Led-Hardware > Led-Co

[2021-04-01 19:02] Paulchen-Panther commented on #1224
[Comming soon](https://github.com/hyperion-project/hyperion.ng/pull/1112) in next release (no ETA).

[2021-04-01 19:04] xtools-at commented on #1224
danke :)

[2021-04-01 19:04] #1224 closed

[2021-04-01 19:08] Paulchen-Panther commented on #1224
Kein Problem. 😀

[2021-04-01 19:10] xtools-at commented on #1224
any idea if i can edit some config file somewhere to set my SPI-path manually in the meantime?

[2021-04-01 19:14] Paulchen-Panther commented on #1224
What operating system do you use for hyperion?

[2021-04-01 19:20] xtools-at commented on #1224
latest raspbian lite (headless) on a Raspberry Pi 0 W

[2021-04-01 19:27] Paulchen-Panther commented on #1224
The easiest way is to load a current PR artifact (e.g. #1223 ) and overwrite the Hyperion files.
Proof:
![Screenshot_1](https://user-images.githubusercontent.com/16664240/113344210-0f0b2000-9331-11eb-8cba-b1f2ea378d63.png)

[2021-04-01 19:30] xtools-at commented on #1224
thx, i'll give it a shot 🤟

[2021-04-01 20:17] Lord-Grey commented on #1224
You can even test this PR
https://github.com/hyperion-project/hyperion.ng/pull/1164

Here all spidev Devices are resolved dynamically...

[2021-04-02 11:29] Felix313 commented on #1224
Could you explain in more detail where to overwrite the Hyperion files? I have the master-branch and armv6l downloaded but since the files in the folders dont match up I'm unsure where to copy them to / overwrite the master-branch files.

[2021-04-04 09:15] ken4888 commented on #907
how

[2021-04-10 22:06] knipsa commented on #983
hey, I just updated my libreelec to 9.95.1 / Kodi 19.0 (official) and didn’t now about the problems.
Is there a chance of a solution in the near future? Kodi 19.0 finally runs so smoothly on my RPI4 even in 4K HDR, after years of waiting ...I’m very excited... but now I can no longer use my beloved hyperion ng.

[2021-04-11 01:57] Mrono opened #1227 "UTV007 flickers between inactive and active only on raspberry pi zero"
I have a UTV007 capture plugged into the OTG port on a raspberry pi zero w, the input keeps turning on and off.  When I plug it into an rpi 3 it works fine, when I plug it into a  different rpi zero it doesn't work.  I tried powering it separately from the otg plug with no change

rpi 3 - works
new rpi zero w - doesn't work
rpi zero w w/separate otg power - doesn't work

`Apr 11 02:44:36 HyperBian

[2021-04-11 01:58] #1227 closed

[2021-04-11 02:02] Mrono opened #1228 "UTV007 flips between inactive/active on Rpi zero w"
- [x] I confirm that this is an issue rather than a question.

## Bug report
I have a UTV007 capture plugged into the OTG port on a raspberry pi zero w, the input keeps turning on and off.  When I plug it into an rpi 3 it works fine. I tried powering it separately from the otg plug with no change.  It worked before I removed the cases from everything to mount it up

rpi 3 - works
new rpi zero w -

[2021-04-11 02:03] #1228 closed

[2021-04-14 09:43] TheGroundZero opened #1229 ""LED Test" effect description is in wrong order"
- [x] I confirm that this is an issue rather than a question.

## Bug report

The description of the _LED Test_ effect states the following:

![image](https://user-images.githubusercontent.com/2406013/114686347-37682680-9d02-11eb-9f7a-0409dc7356be.png)

However, the output actually rotates in the following order: `Red, Green, Blue, White, Black`

This order is defined in the code here: https://git

[2021-04-14 10:50] aenertia opened #1231 "[FR] Container Packaging of Hyperion server i.e flathub"
## Feature request

Container Packaging; i.e Flatpak/Flathub and/or Appimage

#### What problem does this feature solve?

Distribution and update of releases/builds independent of distribution

#### What does the proposed API look like?

N/A

#### How should this be implemented in your opinion?

Flathub is likely the best option as it provides distro agnostic query/publish and update infrastructur

[2021-04-14 14:20] Lord-Grey commented on #1229
@TheGroundZero Thank you very much for the finding, as well as the fix via PR1229!

[2021-04-14 14:25] #1229 closed

[2021-04-17 09:20] Paulchen-Panther commented on #1209
https://github.com/hyperion-project/hyperion.ng/issues/1123#issuecomment-778756142

[2021-04-17 09:20] #1209 closed

[2021-04-17 16:26] VyacheslavTeplyakov commented on #737
Hi!
I tested the Windows version. Unable to start, initialize my usb grabber. The device is detected in the system as a webcam.
In Linux it is detected as follows. And it works fine.
/dev/snd/controlC2 - MACROSILICON_USB_Video
/dev/video1 - MACROSILICON_USB_Video
/dev/video0 - MACROSILICON_USB_Video

[2021-04-21 18:18] Paulchen-Panther commented on #1231
https://github.com/flathub/flathub/wiki/App-Requirements#stable-releases-reproducible-builds

[2021-04-21 19:02] Chaphasilor commented on #954
@m-seker can we manually switch to using X11 as a workaround? it seems like `hyperion-x11` isn't installed by default though...

[2021-04-21 21:38] aenertia commented on #1231
Perhaps app-images are the way to go; with something like a Source2Image build pipeline if there are concerns about meeting flathub critera

[2021-04-22 10:57] Lord-Grey commented on #954
What OS are you running?

[2021-04-22 14:31] Chaphasilor commented on #954
Beta release of OSMC, based on Debian 10 (Buster) :)

[2021-04-22 17:11] Paulchen-Panther commented on #1231
Unfortunately, the goals we have started are not yet completed.
In the meantime, you are welcome to create your own AppImage.
I have already written the JSON configuration file (x86_64) for the program [deb2appimage](https://github.com/simoniz0r/deb2appimage).
You can find it on [GitHub Gist](https://gist.github.com/Paulchen-Panther/24a2e4d85edfddd70fb55eee39781f83).

[2021-04-23 18:47] LingLing-de opened #1233 "Hyperion Premium App not working"
I used the old Hyperion Version for a few years as my Light controller for one RGB Strip. I got a new Raspberry and the old Version of Hyperion is not availible anymore and HyperBian dont let me controll anything as before. IP and Ports match, App says syncronised but won't change anything and loads no Effects in the App.

Thanks in advance

[2021-04-23 18:48] #1233 closed

[2021-04-24 17:37] #1053 closed

[2021-04-26 05:20] Kingo64 commented on #1140
Hi @samuele2723, just writing to say that I've currently got a <50ms response time USB HDMI setup, I haven't measured it but it could potentially be around 20ms or so which is decently quick.

What you are looking for is a "HDMI to USB Video Capture Card" that specifically supports MJPEG. MJPEG is important since I've found YUV outputs to be around 500ms+ latency. Looks like the one I am using is

[2021-04-26 05:51] samuele2723 commented on #1140
Hey there! Thanks for the reply. I think i already got your card and i am happy with the delay. I am running 16x9 custom pixel res. Lower is the better not sure if i get a gain from 480p to 9p but seems fine to me.

About grabber and scaler i have same setup with Ezcoo but i can't see dolby vision with that. Wonder if there is a dolby vision scaler working ![image](https://user-images.githubuserco

[2021-04-28 00:40] iJokerboy opened #1235 "Web Config in Portuguese?"
How can the language be available on the web ui? I (roughly) translated the UI to my language on the poeditor... It's still very rough but good enough so I and my Brazilian friends can understand and given time with the reports, get better and better...

[2021-04-28 00:41] #1235 closed

[2021-04-28 12:43] MPowed commented on #983
Any word on this?

[2021-05-01 15:00] #1136 closed

[2021-05-01 18:20] Lord-Grey commented on #1141
PR #1164 Allows to blacklist LEDs in layout via UI

[2021-05-01 18:20] #1141 closed

[2021-05-01 18:32] Lord-Grey commented on #673
Addressed by #1164

[2021-05-01 18:32] #673 closed

[2021-05-01 19:54] Chaphasilor commented on #1141
Thanks a ton! Much appreciated 😇

[2021-05-02 17:47] micw commented on #1161
Same for debian buster on RPi 2. The deb file provided misses the dependency

[2021-05-02 17:58] Paulchen-Panther commented on #1161
@micw What dependence?

[2021-05-02 18:08] micw commented on #1161
libfreetype6 was missing, I had to install it manally.

[2021-05-02 18:09] micw opened #1237 "Not listening on any ports on debian buster"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

* Do a fresh install of debian 10 for RPi
* Install the 2.0 alpha 9 deb package (https://github.com/hyperion-project/hyperion.ng/releases/download/2.0.0-alpha.9/Hyperion-2.0.0-alpha.9-Linux-armv7l.deb)
* Install additional dependency libfreetype6
* Start hyperiond

#### What is expected?

* Hyper

[2021-05-02 18:10] micw commented on #1237
Startup log (with .hyperion fodler removed before start):
[code]

[2021-05-02 18:27] micw commented on #1237
I tried with alpha 5 (which was also on my old installation) with the same results. I'll switch to raspbian.

[2021-05-02 18:51] micw commented on #1161
On Rasperian (Buster), the lib seems to be present by default. Nevertheless, it should be a dependency of the hyperion deb file when it's needed.

[2021-05-02 18:51] Paulchen-Panther commented on #1237
Download URL for Debian Buster RPi2 please. Thank you.

[2021-05-02 18:52] micw commented on #1237
I used the image from https://wiki.debian.org/RaspberryPiImages#Installation.
I did a fresh install using raspbian (minimal image) which did not have this issue.

[2021-05-04 18:53] KrX3D commented on #983
im also interested if there is some progress made on this

[2021-05-04 21:19] DaniloMagliarisi88 commented on #1237
i have the same issue with debian buster, but not with raspberry, but with orangePi. the site can't be reached.

[2021-05-05 07:04] tefracky commented on #983
Will #1119 fix this?

[2021-05-12 10:49] jasimancas commented on #1030
Same error here with Hyperion 2.0.0-alpha.9

[2021-05-12 18:28] Nears opened #1240 "Smooting active does not allow to set a color via the web interface"
- [x] I confirm that this is an issue rather than a question.

## Bug report
Smooting active does not allow to set a color via the web interface, leds will stay black

#### Steps to reproduce
installation of hyperion.ng alpha 9

#### What is expected?
leds should light up with the color set via the web interface (remote control -> colors/effects

#### What is actually happening?
Leds stay black, b

[2021-05-14 08:40] mitch7391 opened #1242 "[HELP] Install Hyperion on RPi4 using Homebridge Image"
- [ ] I confirm that this is an issue rather than a question.

## Help Request
I am currently running a Raspberry Pi using the official homebridge image and was wondering how I could install Hyperion on this same machine. I tried running the following command from my terminal:

[code]
But it just fails and returns the following:

[code]

#### Steps to reproduce
Run installation command.

#### What

[2021-05-14 08:51] Paulchen-Panther commented on #1242
Please try again with the appropriate architecture.
[Hyperion-2.0.0-alpha.9-Linux-armv7l.deb
](https://github.com/hyperion-project/hyperion.ng/releases/download/2.0.0-alpha.9/Hyperion-2.0.0-alpha.9-Linux-armv7l.deb
)

[2021-05-14 09:12] mitch7391 commented on #1242
@Paulchen-Panther thank you for the quick help; I did not see a choice for `linux armv7l` on the website. Do you know how I should be executing the command to install? I tried these two ways and no luck:

[code]

[2021-05-14 09:19] mitch7391 commented on #1242
Also tried with the actual address of the hyperlink:
[code]

[2021-05-14 09:21] tpmodding commented on #1242
wget https://github.com/hyperion-project/hyperion.ng/releases/download/2.0.0-alpha.9/Hyperion-2.0.0-alpha.9-Linux-armv7l.deb

sudo apt install ./Hyperion-2.0.0-alpha.9-Linux-armv7l.deb

[2021-05-14 09:21] #1242 closed

[2021-05-14 13:39] PrathikGopal commented on #794
Same here on my rpi3b too. Any leads on this?

[2021-05-14 13:41] quietsnow commented on #794
Use the “remote” page to disable whatever is higher priority. Restart the services. Should come back up

[2021-05-15 00:00] chcore opened #1243 "X11 and XCB grabbers are sending frame grabs from the past"
- [x] I confirm that this is an issue rather than a question.

## Bug report
When I run either the X11 or XCB grabbers, they appear to only send a single image, usually from the past as evidenced by the --screeenshot argument (e.g. a few minutes ago, maybe from when the grabber was first run after boot). So the LEDs do light up, but they're completely frozen to what ever colours that single image

[2021-05-15 03:10] mitch7391 commented on #1242
Thanks @tpmodding and @Paulchen-Panther for helping out. I got it to install but think I am still missing something here:

[code]
I have rebooted my RPi4 and tried both of the web addresses and it does not seem to do anything. Sorry for the trouble, but any further advice?

[2021-05-15 08:09] chcore commented on #1243
I have found the issue, and I do not believe it to be a Hyperion bug, as VNC is also affected. The Intel graphics driver defaults to DRI3, I needed to set it to DRI2. It worked straight away.

[2021-05-15 08:09] #1243 closed

[2021-05-16 05:25] mitch7391 commented on #1242
@tpmodding  and @Paulchen-Panther I am not even able to get any system logs as the message above suggests.
[code]
If I am understanding correctly it is not even getting through the pre-install phase due to not being able to located the required files? Is there something that needs to be done to the `.deb` file first before installing or perhaps do I still have the wrong file?

[2021-05-17 05:34] mitch7391 opened #1245 "Installation Failed - 'hyperion.postinst: root: not found'"
- [x] I confirm that this is an issue rather than a question.

## Bug report
Installing on a Raspberry Pi 4 that has the official Homebridge image seems to fail when installing through the terminal.

#### Steps to reproduce
[code]
Response:
[code]
Refer to previous issue raised (#1242).

#### What is expected?
Successful installation of Hyperion.NG.

#### What is actually happening?
Pre-installati

[2021-05-17 12:27] tpmodding commented on #1245
i dont know how the "official homebridge image" works...

but if you read the log you can find some hints which you can look up for at the "offical homebridge" community maybe first

/var/lib/dpkg/tmp.ci/preinst: 6: /var/lib/dpkg/tmp.ci/preinst: root: not found

/var/lib/dpkg/info/hyperion.postinst: 32: /var/lib/dpkg/info/hyperion.postinst: root: not found

Failed to start hyperiond@.service: Unit

[2021-05-18 00:28] mitch7391 commented on #1245
Oh that is a good point @tpmodding, I hadn’t thought that maybe it could be due to how their image is set up. I will create an issue there and reference this one to see if they are able to answer my questions.

If root is removed from their system does that mean that Hyperion would be able to be installed on it?

[2021-05-18 17:16] mariotaku opened #1247 "Frequent crash (SIGABRT) on high frame input"
- [x] I confirm that this is an issue rather than a question.

## Bug report
I have created a [video source](https://github.com/webosbrew/hyperion-webos) by sending image frames via flatbuffers server. I noticed that there are frequent crash especially under high framerate.

[code]

#### Steps to reproduce
1. Send image frames via flatbuffers server
2. Crash will occur, especially under high frame

[2021-05-18 17:47] Paulchen-Panther commented on #1247
What does high framerate mean for you?

[2021-05-18 18:18] mariotaku commented on #1247
@Paulchen-Panther I tried to send 60 captured video frames per second, to the server. Also found this might be happened only when preview is on.

[2021-05-18 18:21] tpmodding commented on #1247
1080p with 60fps? What are you planning to do? 60fps is vay toooo much.... and a looooot to calculate for hyperion....you will get a big delay on your leds...

[2021-05-18 18:22] mariotaku commented on #1247
@tpmodding No, it's **108p**, 192x108@60fps.

[2021-05-18 18:46] Paulchen-Panther commented on #1247
@mariotaku
When I send 60 fps with the external hyperion-v4l2 program at 640x480 resolution, nothing crashes. Maybe there is a problem with your program!?!
The error message:
[code]
is very strange.

[2021-05-18 19:06] mariotaku commented on #1247
@Paulchen-Panther what about to preview (with video on) in the browser? This is indeed very strange.

[2021-05-18 19:16] Paulchen-Panther commented on #1247
If the frame size and frame rate are too high, the connection to Hyperion may be interrupted. I do not know that Hyperion supports this. Maybe you can explain us the use of your external program and we can look for a solution together. 😃

[2021-05-18 19:26] mariotaku commented on #1247
This external program, like `hyperion-framebuffer`, is a custom video source. Another interesting thing is if you don't open preview screen, crash won't occur. I'll do more tests to find the root cause.

[2021-05-18 22:35] evan-shaw opened #1248 "Hyperion.ng fails to start after OS update"
My Hyperion install has refused to start after a recent raspbian os update.
Raspberry Pi3, Kernel: 5.10.17-v8+, Hyperion.ng: Hyperion-2.0.0-alpha.9-Linux-armv7l.deb, runnung as user: pi

I initially thought that maybe there was some file corruption, so removed the package "apt remove" and then reinstalled, but am still getting exactly the same issue. No indication of anything else running oddly, s

[2021-05-18 22:36] #1248 closed

[2021-05-18 22:46] evan-shaw opened #1249 "Hyperion.ng fails to start after OS update"
- [x] I confirm that this is an issue rather than a question. Yes it is an issue.

## Bug report
My Hyperion install has refused to start after a recent raspbian os update.
Raspberry Pi3, Kernel: 5.10.17-v8+, Hyperion.ng: Hyperion-2.0.0-alpha.9-Linux-armv7l.deb, runnung as user: pi

I initially thought that maybe there was some file corruption, so removed the package "apt remove" and then reinstal

[2021-05-19 00:59] DavidBuchanan314 commented on #1247
I haven't been able to narrow down on the issue much, but I'm pretty sure it's a heap corruption issue in hyperiond (likely UAF, or maybe a buffer overflow).

Amusingly, the crash never seems to happen when running hyperiond under valgrind...

[2021-05-20 15:34] sansillusion commented on #983
I would also like to be able to get my hyperion to work again. It's the only thing not working at all tight now and it bugs me. My LEDs turn off when I play something and I dont want to disable hyperion has it serves as a reminder to check back on it once in a while in hope that someone had a breakthrough.

[2021-05-20 17:40] #1216 closed

[2021-05-22 08:19] i7i5 commented on #794
Hello,
I'm facing the same problem.

[code]

I use the 10$ grabber (RULLZ 4K Video Capture Card USB 3,0 2,0 HDMI Video Grabber Box) which is recommented here: https://hyperion-project.org/forum/index.php?thread/10564-%C3%BCbersicht-tests-digitale-grabber/.

![Error](https://user-images.githubusercontent.com/9058776/119219683-10fa8f80-bae7-11eb-8534-38488e30ab93.gif)

[2021-05-22 08:36] zufl commented on #794
Hi,

I had the same issue, also with the RULLZ 4k grabber and Raspberry Pi 4. Connecting the grabber to an active USB hub also did not help.
Compiling from the latest sources solved the issue for me. The grabber is now running stable. Strangely, this does not seem to help @i7i5.

[2021-05-22 09:04] i7i5 commented on #794
@zufl Sadly recompiling didn't help - tried it today for several times :/
I'm not quiet sure if there is a correlation to installed software. In the last weeks the only thing I installed manually was `2021-05-02 07:47:53 install libseccomp-dev:armhf <none> 2.3.3-4` I think.

Before yesterday I used the analog way with hdmi to analog to grabber. Im facing this issue since ~3-4 weeks what was the re

[2021-05-23 12:47] mitch7391 commented on #1245
@tpmodding I received a response from one of the Homebridge developers and they say the following:

The issue is with their installer:
Failed to start hyperiond@.service: Unit name hyperiond@.service is missing the instance name.

Is there anything else I can check or provide for you to be able to figure this one out? I would be very keen to get this installed on the same RPi to avoid having multi

[2021-05-23 13:02] tpmodding commented on #1245
can you try to run it manually? just try "hyperiond --debug"

[2021-05-23 13:05] mitch7391 commented on #1245
Awesome, will try this after work and get back to you :)

[2021-05-23 13:07] tpmodding commented on #1245
i think this should work, if yes then there is only a problem with the systemctl service file

[2021-05-23 13:21] Lord-Grey commented on #1245
@mitch7391 Would you mind executing the following command and report back, if there has been an error....

`echo `who | grep -o -m1 '^\w*\b'` || "root"`

It looks the script fails to resolve the user in the preinst and postinst scripts:

# search for users in system, returns first entry
FOUND_USR=`who | grep -o -m1 '^\w*\b'` || "root"

[2021-05-23 13:26] Lord-Grey commented on #943
@fightforlife & @bgberk Would you be able to test PR1246 for udev support on serial devices?

[2021-05-23 13:41] Paulchen-Panther commented on #1245
@Lord-Grey
The first command is taken 1:1 from the shell script file.
After removing the ` characters, the correct username is displayed. But this seems to be valid in shell as a command substitution. (https://www.cs.ait.ac.th/~on/O/oreilly/unix/upt/ch09_16.htm)

![image](https://user-images.githubusercontent.com/16664240/119262519-dcb4cb00-bbdb-11eb-85e0-7ef57b9b5822.png)

After downloading the d

[2021-05-23 13:50] Lord-Grey commented on #1245
@Paulchen-Panther

The log indicates that on the Homebrige OS the command fails (the command in script line 6 is failing)

`/var/lib/dpkg/tmp.ci/preinst: 6: /var/lib/dpkg/tmp.ci/preinst: root: not found`

That is why I asked the Homebridge user to test the command...

The "´" is requried to executed the command...
If I execute the same command on Coreelec, I get the error that who is not found

[c

[2021-05-23 14:12] Paulchen-Panther commented on #1245
No Problems on RPi4.
Log: https://pastebin.com/SDU1mb64

[2021-05-23 14:13] #1245 closed

[2021-05-23 14:15] tpmodding commented on #1245
@mitch7391 could you try to uninstall and reinstall please?

https://docs.hyperion-project.org/en/user/Installation.html#uninstall-hyperion

[2021-05-23 14:17] mitch7391 commented on #1245
I will get back to you all with these tests after work :)

@Paulchen-Panther are you using the official image for Homebridge or have you installed it on Raspbian or using some other method?

@tpmodding I have tried to uninstall and reinstall several times and still get the same result sadly.

[2021-05-23 14:18] Paulchen-Panther commented on #1245
Yes official image.

[2021-05-23 14:23] mitch7391 commented on #1245
Yep, it looked like it but just wanted to confirm. It looks like you are ssh’ing into your RPi. I have been trying to do this from the terminal on the Homebridge web UI; perhaps this could make things different (I doubt it but figured I’d ask)?

[2021-05-23 14:24] tpmodding commented on #1245
try it with ssh, yes.

[2021-05-23 14:26] Paulchen-Panther commented on #1245
WTF. And you're just coming up with this information now? Are you serious?

[2021-05-23 14:29] mitch7391 commented on #1245
I’m sorry but since I have been on that OS I have done any installations from that terminal and was not aware there was a difference; not all of us are experts or have a lot of experience. I tried to follow the instructions on the web page and it does not specify this…

[2021-05-23 14:31] mitch7391 commented on #1245
Might I suggest the addition of the terminal commands provided to me and the noting of using ssh in the installation instructions so that some else does not make this mistake in the future?

I will update you all on how this goes when I am home and thank you for you help so far.

[2021-05-23 14:39] Paulchen-Panther commented on #1245
![image](https://user-images.githubusercontent.com/16664240/119264975-63ba7100-bbe5-11eb-8b21-d93a31770df2.png)

[2021-05-23 15:05] mitch7391 commented on #1245
Ok so that looks like it worked for you @Paulchen-Panther… I honestly have no idea why it will not work for me then. I will see how doing it through ssh goes for me and report back.

[2021-05-23 15:10] fightforlife commented on #943
Hi @Lord-Grey, I am no expert in compiling from source.
Is there an easy way to build this PR with the docker compile script?

I downloaded your branch as a zip and tried to compile locally but it fails since some dependencies are missing in the zip. (most likely because you would normally clone recursive)

[2021-05-23 15:14] Paulchen-Panther commented on #943
Download pre-compiled artifacts here: https://github.com/hyperion-project/hyperion.ng/actions/runs/851038985

[2021-05-23 15:23] fightforlife commented on #943
Thanks, I did not know about this!

For me it is working fine! See the following log:

[code]

[2021-05-23 17:11] #943 closed

[2021-05-23 20:33] dinvlad opened #1251 "Local Admin API Authentication rejects valid tokens"
- [x] I confirm that this is an issue rather than a question.

## Bug report
Currently, it appears we can use Admin API calls over JSON RPC/HTTP requests _only_ if we disable "Local Admin API Authentication". Enabling it results in rejected calls with "No Authorization", even if we supply a valid token.

#### Steps to reproduce
1. Enable "Local Admin API Authentication" in the UI (`http://<hyperio

[2021-05-23 22:23] mitch7391 commented on #1245
@Paulchen-Panther, @tpmodding and @Lord-Grey  it appears that the terminal installation method worked when done through ssh; I am sorry for the time wasted and very grateful for the guidance.

Are you able to explain to me why it would not successfully install through the Homebridge web UI terminal vs the terminal using ssh? I was not aware the two would be different, as I have successfully instal

[2021-05-24 00:38] tpmodding commented on #1245
we dont know how th webUI terminal works...maybe it has some "limited" access or so.... dont know, but also dont want to invest time in it...sorry, great that it worked in the end.

[2021-05-24 08:33] mitch7391 commented on #1245
Nah that’s all good @tpmodding was just wondering if you had an answer off the top of you head. I will ask over at homebridge, thanks again!

[2021-05-24 11:22] zufl commented on #794
Turns out it was only stable for one evening for me too. :-/

I did some further investigations and the hardware is not delivering new frames from time to time but recovers after 1-2s. It happens more often with higher resolutions so I think it is somehow related to bandwidth. I did some code changes on a fork, feel free to try it out [here](https://github.com/zufl/hyperion.ng). I can open a pull

[2021-05-24 15:39] phipro92 commented on #1215
I had the same issue with HyperBian #8d161b7 on my RPi zero (armv6l) and fixed it with an adjustment to the network interface configuration to disable the power saving mode of the WLAN adapter.

You can check it with:
`pi@HyperBian:~ $ iw wlan0 get power_save
Power save: on`

To fix this, open the interfaces file:
`sudo nano /etc/network/interfaces`
Enter the following lines or complete missing li

[2021-05-24 18:23] i7i5 commented on #794
Ok I tried your fork. Without setting the v4lTimeout it starts flickering again :/ I dont know why, I cant set the v4lTimeout. After import it seems to get ignored.

For you the changes are working now? After the first compilation it worked for like 10mins. But now after 1-2mins it fails again.

What are your settings, I have like everything on auto atm.

[2021-05-24 20:20] zufl commented on #794
Yes, for me it's working pretty well, I get about one reconnect per hour when not increasing the timeout. I commited a change that allows editing the v4lTimeout in the webinterface. There seemed to be an issue before to change it via the config.

I use a resolution of 640x480 with 25FPS. It also helps to stop any other application, for me an instance of Kodi made things much worse.

[2021-05-25 06:57] aliakbar-bsr opened #1252 "banana pi M2 zero and how to install hyperion on that board"
Hi I bought a banana pi M2 zero but I don't know how do I have to install hyperion on it I realised that the processor of it isn't aarch64 or arm v7i (maybe not)I want help to install hyperion on that

[2021-05-25 06:58] #1252 closed

[2021-05-25 15:26] robertalexa commented on #1215
Thanks for pointing me in this direction, i was under the impression that wifi power saving was disabled by default, thus not looking into it.

For the sake of anyone else reading this, there is your type in your last command, missing an "f"

`wireless-power off`

[2021-05-25 16:07] robertalexa commented on #1215
I will close this issue in order to keep this project clean. I will see how wifi power saving goes. I will leave some more feedback once I have tested.

[2021-05-25 16:07] #1215 closed

[2021-05-25 16:09] tpmodding commented on #1215
@robertalexa i'm waiting for your feedback. if this helps you, i would like to add this point to the docu.

[2021-05-25 17:20] robertalexa commented on #1215
Note: I have chosen not to make changes to `/etc/network/interfaces`

Instead I have added one line to `/etc/rc.local` above the `exit 0` command
`iwconfig wlan0 power off`

I am currently rebuilding my setup so I will let you guys know as soon as I have something to report

[2021-05-25 19:57] i7i5 commented on #794
I don't know... For me this doesn't work. It's not device related, I did reconnect my analog hardware (stk1160) but this doesn't work either. I also tried to patch back to v8 but only get a ton of build errors. So I'm stuck with this version >.>

I also followed my syslog with `tail -f /var/log/syslog` but there's nothing special like a USB diconnect or smth. Only hyperiong log spam :/ Kodi or sim

[2021-05-28 13:10] evan-shaw commented on #1249
This can be closed as fixed. Removed local web browser cookies.

[2021-05-28 13:10] #1249 closed

[2021-05-29 20:17] forerunnert opened #1253 "dependency problems on Vero 4K+ OSMC"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce
1. download Hyperion-2.0.0-alpha.9-Linux-aarch64.deb
2. $ sudo sudo dpkg -i Hyperion-2.0.0-alpha.9-Linux-aarch64.de

#### What is expected?
I expected a functional Hyperion installation

#### What is actually happening?
_

Then:
3. $ sudo apt install libcec4
4. $ sudo apt --fix-broken install
resu

[2021-05-29 22:01] SaulGoodman1337 opened #1254 "Compile under Windows (QT5 Problem)"
Hi,
I do not get compiled under windows. It always throws me the error that QT5 is not present.
I am not quite sure where to get the framework from.
Actually I don't need the QT grabber at all, so I deactivated it in the config. But still do not want to build it.

Someone an idea?

`C:\Users\Daniel\hyperion.ng>cmake -DPLATFORM=windows -G "Visual Studio 16 2019" .
-- CMake Version: 3.20.3
-- Select

[2021-05-29 22:01] #1254 closed

[2021-05-29 22:11] SaulGoodman1337 opened #1255 "Compile under Windows (QT5 Problem)"
- [x] I confirm that this is an issue rather than a question.

## Bug report
Hi,
I do not get compiled under windows. It always throws me the error that QT5 is not present.
I am not quite sure where to get the framework from.
Actually I don't need the QT grabber at all, so I deactivated it in the config. But still do not want to build it.

Someone an idea?

`C:\Users\Daniel\hyperion.ng>cmake -DPLA

[2021-05-30 06:21] #1255 closed

[2021-05-30 06:22] Paulchen-Panther commented on #1255
https://hyperion-project.org/forum/

[2021-05-30 10:52] tpmodding commented on #1255
Hi, this is not a "real" issue...

Did you follow the compile how to?

![windows](https://user-images.githubusercontent.com/17259976/120101297-c2cc3880-c145-11eb-8931-cb8469785ae1.png)

Why do you compile it yourself, if you dont need the QT grabber, just dont use it :-)

[2021-05-30 11:42] forerunnert commented on #1253
Update for future reference:

Hard work as already be done, I used this to install a pre-built binary:
https://github.com/hissingshark/hyperion-vero4k

[2021-05-30 11:42] #1253 closed

[2021-06-07 14:06] rudihorn commented on #983
I've been spending a little time experimenting with the DRM apis to perform screen grabbing at https://github.com/rudihorn/drm-vc4-grabber with some progress. I have been able to show that it is definitely possible to write a grabber this way, but at the same time my knowledge of the Linux rendering system is limited and I am not entirely sure how to correctly take the image in its in-memory forma

[2021-06-07 15:35] Paulchen-Panther commented on #983
Hi @rudihorn
I will gladly have a look at your project. I have also worked a little with the DRM/GBM API but failed to convert the memory image. Maybe I am missing a crucial snippet that you have integrated in your project. I will let you know. Thanks for your time and work.

[2021-06-07 16:13] rudihorn commented on #983
No worries. I suspect the last thing missing from my code was some de-interlacing for each 32x32 pixel square. The framebuffer uses a modifier with value 504403158265495553 (hex 0x700 0000 0000 0001) which seems to be driver specific. I have not quite yet found a reference to this.

[2021-06-09 14:25] rudihorn commented on #983
So my grabber now at least copies a correct image. I still need to see if the performance is efficient enough though, and there is certainly some room for optimization. It might also be worth adding some domain specific code for downsizing the image. It should be possible to write some pretty efficient code for reducing the resolution by a factor of 4.

[2021-06-10 11:12] MrSpoocy commented on #1161
On Raspbian Buster **light**, the libgl1-mesa-glx is missing.

[2021-06-11 21:40] rudihorn commented on #983
I've done a little more work and the screen grabber can now connect to hyperion and upload the image. This seems to work, but seemed to reveal that video image buffers are uploaded into a different framebuffer. The current setup is that there is the CRTC with a framebuffer which is used for video, and then an extra plane containing the XBMC ui. This is actually quite nice though, because when vide

[2021-06-12 12:52] Rogi66 commented on #794
same issue here, i also exchanged the hdmi grabber...the screen freezes and the usb capture device disappears. :(

[2021-06-12 22:54] chcore commented on #983
Thanks for your efforts rudihorn. You mentioned it not capturing UI elements while video is playing, which is indeed nice. But does this mean that things will not work when running other applications which don't play video? e.g Retroarch

[2021-06-13 03:32] raphaabreu commented on #1086
Hello @blindlight86  / @panec, I am facing the same issue. Is there a workaround?

[2021-06-13 06:05] rudihorn commented on #983
@chcore best to just try it out. When it doesn't detect a video it does fall back to the ui framebuffer, so when displaying images for example it still works. If retroarch renders in some odd way more work may be necessary

[2021-06-13 09:29] Chaphasilor commented on #983
@rudihorn talking about trying it out, which steps would be needed for that? From your readme I got that I have to compile your rust code to the platform-specific binary, and then it seems like I have to run that in the background and it "connects to hyperion"? Does that mean hyperion will auto-detect the new grabber or do I have to change some additional settings in hyperion?

[2021-06-13 09:55] rudihorn commented on #983
Yeah just compile and run it. Hyperion starts a TCP socket that the image grabbers connect to, so no further configuration is necessary.

[2021-06-14 07:19] chcore commented on #983
That's good to hear. Will test it tonight.

What are the changes of this working on x86 as well?

[2021-06-14 11:20] 0x6470 opened #1260 "Docker cross compilation for Raspberry Pi 2/3/4 (Debian Buster) fails"
- [x] I confirm that this is an issue rather than a question.

## Bug report
I tried cross compiling Hyperion for armv7l with three different machines (2x Ubuntu and  1x Debian) with docker, but every time, the exact same error appeared.

#### Steps to reproduce
Install Docker freshly according to those instructions: https://docs.docker.com/engine/install/ubuntu/ or https://docs.docker.com/engine/

[2021-06-14 17:59] Paulchen-Panther commented on #1260
I can confirm the error. I will take care of the problem this week. Thank you for your issue report.

[2021-06-15 17:33] fpoulet73 opened #1261 "JSON-RPC Multi instance using curl"
I have a running Hyperion with 2 instances.
I want to control them using the json API.
As example i want to select my instance "1" and call the API to set a specific color

Using postman all is working perfect, i'm using HTTP POST :

Switch the instance:
http://192.168.10.19:8090/json-rpc
{ "command" : "instance", "subcommand" : "switchTo", "instance" : 1 }
Set Color :
http://192.168.10.19:8090/js

[2021-06-15 17:34] #1261 closed

[2021-06-15 18:04] Paulchen-Panther commented on #1260
The problem has been fixed. Thanks again. 👍🏻

[2021-06-15 18:04] #1260 closed

[2021-06-15 18:37] Xanderr opened #1262 "[FR] Support for password managers"
## Feature request

The ability to use password managers for signing in. Currently, the password input field has no "name" attribute, causing it to be not detected by password managers.

#### What problem does this feature solve?

Easier login. Especially handy since Hyperion currently doesn't keep your session. (Also suggested as FR at #858)

#### What does the proposed API look like?
#### How sh

[2021-06-15 18:37] #1262 closed

[2021-06-15 18:47] Xanderr opened #1263 "[FR] Support for password managers"
## Feature request

The ability to use password managers for signing in. Currently, the password input field has no "name" attribute, causing it to be not detected by password managers.

#### What problem does this feature solve?

Easier login. Especially handy since Hyperion currently doesn't keep your session. (Also suggested as FR at #858)

#### What does the proposed API look like?

N/A

####

[2021-06-15 20:21] Portisch commented on #1030
A bit late but I tested it now. On CoreELEC 19.2_Matrix-rc2 and alpha.9

I think it's a issue of the grabber as it get stretched in the Webinterface:
<a href="https://ibb.co/ZGdyBJ8"><img src="https://i.ibb.co/ZGdyBJ8/Screenshot-2021-06-15-22-11-38-736-com-android-chrome.jpg" alt="Screenshot-2021-06-15-22-11-38-736-com-android-chrome" border="0"></a>

<a href="https://ibb.co/19F9fZm"><img src="htt

[2021-06-27 16:20] washcroft opened #1266 "Can no longer configure frame buffer device"
- [x] I confirm that this is an issue rather than a question.

## Bug report

@Lord-Grey

PR #1073 unnecessarily removed the device field from the UI.

I have multiple video frame buffers (GPUs), and the video I want to capture isn't displayed on /dev/fb0. I used to be able to specify the correct frame buffer device here (fb1 for me), but now it's hardcoded (defaulted) to fb0. Even though the core

[2021-06-27 16:39] washcroft opened #1267 "Web UI messed up until language selected"
- [x] I confirm that this is an issue rather than a question.

## Bug report

Another @Lord-Grey inflicted bug, assuming it was broken in PR #812.

If loading the Web UI for the first time, or without a language selected and stored in local storage - there is no fallback to English if an appropriate language cannot be found. This causes the UI to look a mess until a language selection is forced (I

[2021-06-27 17:02] Paulchen-Panther commented on #1267
The bug is known and will be fixed with PR #1119

[2021-06-27 19:17] Lord-Grey commented on #1266
@washcroft The current state reflects an intermediary development state given that we are further improving grabbers…
I am currently having some updated framegrabber code available, but due to limited time on my side, I was not able to finish it up. With the next release, we are looking to close the known gap on framegrabber, amlogic and dispmanx.
I ask for your patience until then…

[2021-06-28 11:53] ShadowXVII commented on #1135
Great, I had the same kit... thanks for your investigation!

[2021-07-02 15:07] i7i5 commented on #794
I don't have any solution. My raspi is up to date, so I guess it's some issue with other libs. I'm stuck waiting for a new version hoping that it will fix smth.

[2021-07-08 17:31] SunnyMoo opened #1268 "Can't change Boblight priority"
[x] I confirm that this is an issue rather than a question.

## Bug report
 2021-07-08T17:22:38.710Z [hyperiond HYPERION] (DEBUG) (PriorityMuxer.cpp:270:PriorityMuxer::clearInput()) Removed source priority 128
 2021-07-08T17:22:38.710Z [hyperiond BOBLIGHT] (DEBUG) (BoblightServer.cpp:110:BoblightServer::closedConnection()) connection closed
 2021-07-08T17:22:38.710Z [hyperiond BOBLIGHT] (INFO) Sto

[2021-07-08 17:32] #1268 closed

[2021-07-08 17:34] SunnyMoo opened #1269 "Can't change Boblight priority"
- [x] I confirm that this is an issue rather than a question.

## Bug report
 2021-07-08T17:22:38.710Z [hyperiond HYPERION] (DEBUG) (PriorityMuxer.cpp:270:PriorityMuxer::clearInput()) Removed source priority 128
 2021-07-08T17:22:38.710Z [hyperiond BOBLIGHT] (DEBUG) (BoblightServer.cpp:110:BoblightServer::closedConnection()) connection closed
 2021-07-08T17:22:38.710Z [hyperiond BOBLIGHT] (INFO) S

[2021-07-08 20:30] emc02 commented on #983
Is there any progress in libreelec 10 for internal frame grabber working?
Will it ever work? Are the devs just waiting for final libreelec version?

[2021-07-11 19:40] Lord-Grey commented on #1263
@Xanderr Hi, I fixed to have the password handled by Password-Manager.
You can check it out via the linked PR.

[2021-07-13 19:30] #1113 closed

[2021-07-14 13:22] nicksears opened #1270 "Hyperion app/remote control no longer working"
- [x] I confirm that this is an issue rather than a question.

## Bug report

Every since switching to this new version with the web ui (which I love) I haven't been able to use the Hyperion mobile app. It says server synchronized when using 19444, but does not reflect any changes.

#### Steps to reproduce

Install hyper Ian, configure (add to wifi) install (Android) app, try to change color, effe

[2021-07-14 18:48] #1160 closed

[2021-07-14 18:48] #1263 closed

[2021-07-14 18:48] #1267 closed

[2021-07-14 20:11] Xanderr commented on #1263
Thanks man :) very nice

[2021-07-16 18:27] Johnny1982fd commented on #983
Alpha 10 is coming, but Kodi 19 / LE 10 will not work.

So, just hope for the next release.

[2021-07-17 20:51] #737 closed

[2021-07-17 20:54] #1095 closed

[2021-07-18 07:07] TMTYD opened #1273 "Failed to get record: 'WHERE type =?"
- [ x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce
When I call up the status using systemctl from hyperiond@xx.service there is the following error message:
[code]

#### What is expected?

#### What is actually happening?

#### System

[2021-07-18 14:44] Lord-Grey commented on #1273
@TMTYD Hi, seems that you database includes invalid records or does not match the Hyperion version you are running.
I suggest you try with the new alpha10 release and if that not work, start with a fresh database.

[2021-07-18 15:08] Lord-Grey commented on #1266
@washcroft I am closing the issue, as alpha10 was released. Please check and report back in case the issue persists.

[2021-07-18 15:08] #1266 closed

[2021-07-18 15:13] Lord-Grey commented on #1237
Can you re-test with alpha10 and report back please, if the issue is still present?

[2021-07-18 15:14] Lord-Grey commented on #1220
Fixed in alpha10

[2021-07-18 15:14] #1220 closed

[2021-07-18 15:16] Lord-Grey commented on #1189
Fixed by #1119

[2021-07-18 15:16] #1189 closed

[2021-07-18 15:17] Lord-Grey commented on #1185
Closing, as no further input provided.

[2021-07-18 15:17] #1185 closed

[2021-07-18 15:18] Lord-Grey commented on #1167
Closing, as no further input provided.

[2021-07-18 15:18] #1167 closed

[2021-07-18 15:22] fightforlife opened #1274 "apt installation on x64 Ubuntu 20.10 has missing dependencies"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce
Follow the guide https://github.com/hyperion-project/hyperion.ng/blob/master/Installation.md on Ubuntu 20.10 x64

#### What is expected?
Current version of hyperion is installed with its dependencies

#### What is actually happening?
Hyperion is not installed because of missing dependiencies.

###